body .page {
  .first-img {
    width: calc(min(476px, 100vw));
    position: absolute;
    right: 0;
    top: 102px;

    @media only screen and (max-width: $mobile-width) {
      position: inherit;
      top: 0;
      display: none;
      margin: auto;
    }
  }

  .cta-button {
    margin-bottom: 16px;
  }

  .splash {
    z-index: -1;
  }

  .page-header {
    width: 640px;
    position: relative;
    margin-left: 0;
    margin-bottom: 0;


    .cta-button {
      margin-top: 96px;
      margin-left: 0;
    }

    @media only screen and (max-width: $mobile-width) {
      margin-bottom: 0;
    }
  }

  > section {
    padding-top: calc(min(256px, 40vw));
  }



  #features {
    .wrap {
      margin-top: 64px;
      justify-content: space-between;

      div {
        width: 300px;
        position: relative;

        @media only screen and (max-width: $mobile-width) {
          margin: auto;
        }
      }

      >:nth-child(2) {
        margin-top: 128px;
      }
      >:nth-child(3) {
        margin-top: 256px;
      }
    }

    .splash {
      left: -20%;
      top: 60px;
      position: absolute;
    }

    h4 {
      margin-top: 32px;
    }
  }

  #app {
    .splashes {
      position: absolute;
      left: 0;
      right: 0;
    }

    > .text {
      width: 448px;
    }
  }

  .sicherheit {
    justify-content: space-between;

    h2 {
      margin-top: 0;
    }

    > :nth-child(1) {
      width: 640px;
    }

    > :nth-child(2) {
      width: 352px;
      min-height: 309px;
    }

    amp-img {
      float: right;
    }

    .cta-button {
      position: absolute;
      bottom: 0;
    }

    p, .cta-button {
      margin-bottom: 0;
    }

    div {
      position: relative;
    }
  }

  .blog {
    > p {
      width: 736px;
      text-align: center;
    }

    .frame {
      margin-bottom: 80px;
    }
  }
}
