body .page {
  .cta-button {
    margin-bottom: 16px;
  }

  .splash {
    z-index: -1;
  }

  .page-header {
    width: $container-max-width-small;
    position: relative;
    margin-left: 0;
    margin-bottom: 0;

    p {
      font-weight: bold;
    }

    .cta-button {
      margin-top: 96px;
      margin-left: 0;
    }

    @media only screen and (max-width: $container-max-width) {
      margin: auto;
    }
  }

  > section {
    padding-top: calc(min(256px, 40vw));
  }

  #features {
    .wrap {
      justify-content: space-between;

      div {
        width: 300px;
        position: relative;
      }

      >:nth-child(2) {
        margin-top: 128px;
      }
      >:nth-child(3) {
        margin-top: 256px;
      }

      @media only screen and (max-width: $container-max-width) {
        gap: 128px;

        > :nth-child(n) {
          width: $container-max-width-small;
          margin: auto;
        }
      }
    }

    .splash {
      left: -20%;
      top: 60px;
      position: absolute;
    }

    h4 {
      margin-top: 32px;
    }

    @media only screen and (max-width: $container-max-width) {
      padding-top: 0;
    }
  }

  #app {
    .splashes {
      position: absolute;
      left: 0;
      right: 0;
      max-width: 1015px;
      margin-left: auto;

      > :nth-child(1) {
        top: -250px;
        right: 0;
      }
      > :nth-child(2) {
        right: 0;
      }

      @media only screen and (max-width: $container-max-width) {
        position: relative;

        > :nth-child(1) {
          position: relative;
          top: 0;
        }
        > :nth-child(2) {
          bottom: 30%;
        }

        > :nth-child(n) {
          right: -16px;
        }
      }
    }

    > .text {
      width: 448px;
      font-weight: bold;

      @media only screen and (max-width: $container-max-width) {
        margin: auto;
        width: $container-max-width-small;
      }
    }
  }

  #roadmap {
    text-align: center;

    @media only screen and (max-width: $container-max-width) {
      text-align: left;
      width: $container-max-width-small;
    }

    p {
      font-weight: bold;
      margin: auto;
    }

    .wrap {
      margin-top: calc(min(128px, 20vw));
      flex-wrap: nowrap;
      gap: 0;

      @media only screen and (max-width: $container-max-width) {
        flex-direction: column;
      }
    }

    .item {
      margin: auto -1px;
      width: 100%;

      div {
        width: 198px;
      }

      @media only screen and (max-width: $container-max-width) {
        display: grid;
        grid-template-columns: 24px 1fr;
        gap: 16px;
        margin-top: 8px;

        div {
          width: 100%;

          h3 {
            margin-top: 0;
            margin-bottom: 8px;
          }

          p {
            font-weight: normal;
          }
        }
      }
    }
  }

  #ressources {
    .splashes {
      position: absolute;
      width: 100%;

      @media only screen and (max-width: $container-max-width) {
        position: relative;
        margin-bottom: -30%;

        > amp-img {
          position: relative;
        }
      }
    }
    .text {
      width: 554px;
      margin-left: auto;
      margin-right: 0;
    }
  }

  #contact {
    .wrap {
      gap: 32px;
    }

    .item {
      width: 544px;
    }

    @media only screen and (max-width: $container-max-width) {
      margin: auto;
      width: $container-max-width-small;
    }
  }
}
