$mobile-width: 940px;
$font-family--primary: 'Lexend', sans-serif;
$font-family--heading: 'Lexend', sans-serif;

$container-max-width: {% if page.style.container-max-width %} {{page.style.container-max-width}} {% else %} {{site.style.container-max-width}} {% endif %};
$container-max-width-small: 640px;
$height-header: 82px;

$color-white: #FFF;
$color-black: #4C4C4C;
$color-primary: {% if page.style.primary %} {{page.style.primary}} {% else %} {{site.style.primary}} {% endif %};
$color-secondary: {% if page.style.secondary %} {{page.style.secondary}} {% else %} {{site.style.secondary}} {% endif %};
$color-hover: {% if page.style.hover %} {{page.style.hover}} {% else %} {{site.style.hover}} {% endif %};
$color-active: {% if page.style.active %} {{page.style.active}} {% else %} {{site.style.active}} {% endif %};
$color-body-background: {% if page.style.background %} {{page.style.background}} {% else %} {{site.style.background}} {% endif %};


$color-lightblue: #009FE3;
$color-darkblue: #144569;
$color-darkblue_40: rgba(20, 69, 105, 0.4);
$color-darkblue_60: rgba(20, 69, 105, 0.6);
$color-darkblue_80: rgba(20, 69, 105, 0.8);
$color-gray_5: #808080;
$color-body-background-blend-color: #777;
$color-footer-background: transparent;

@import 'ampstart-headerbar';
@import 'ampstart-footer';
@import 'amp-consent';
@import 'button';
@import 'consent';
@import 'experiment';

html{
  scroll-behavior: smooth;
}

body, input, textarea {
  font-size: calc(min(1.25rem, 5vw));
  font-family: $font-family--primary;
  font-weight: 400;
  letter-spacing: 0.01em;
  background: $color-body-background;
  color: $color-white;
  line-height: 1.666666666;

  * {
    max-width: 100%;
    column-gap: 16px;
  }
}

::selection {
  background: #ffff0080;
}

small, .small {
  font-size: calc(min(1rem, 4vw));
  margin-bottom: calc(min(0.5rem, 1.1vw));
}

button, .button, .ampstart-headerbar {
  letter-spacing: 0.04em;
  margin-bottom: calc(min(0.5rem, 1.1vw));
}

h1,h2,h3,h4,h5,
.h1,.h2,.h3,.h4,.h5,
button, .ampstart-headerbar, .ampstart-sidebar, .heading{
  font-family: $font-family--heading;
  font-weight: bold;
  line-height: 123%;
}

h1, .h1 {
  font-size: calc(min(72px, 8vw));
  line-height: 134%;
  margin-bottom: calc(min(2rem, 4.3vw));
}

h2, .h2 {
  font-size: calc(min(48px, 7vw));
  margin-bottom: calc(min(2rem, 4.3vw));

}

h3, .h3,{
  font-size: calc(min(36px, 6vw));
  margin-bottom: calc(min(2rem, 4.3vw));
}

h4, .h4 {
  font-size: calc(min(24px, 5vw));
  margin-top: calc(min(2rem, 5vw));
  margin-bottom: calc(min(0.5rem, 1.1vw));
  line-height: 1.25;
}

h5, .h5{
  font-size: 16px;
  line-height: 1.25;
  margin: 0;
}

p {
  margin-bottom: calc(min(0.5rem, 1.1vw));
}

.mb {
  margin-bottom: calc(min(256px, 40vw));
}

.color-secondary {
  color: $color-primary;
}

figure {
  margin: 0;
}

.post-subtitle {
  color: $color-gray_5;
}

a, a:active, a:visited {
  color: $color-primary;
  text-decoration: none;
}

address {
  font-style: normal;
}

section {
  margin: auto;
}

.splash {
  z-index: -2;
}

.splashes {
  .splash {
    position: absolute;

    amp-img {
      top: 0;
    }
  }
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

body .page, body .post{
  padding: 0 16px;
  margin-top: calc(#{$height-header} + min(128px, 10vw));
}

.container, .post-content, .post-header {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
}


.post-content {
  position: relative;
  z-index: 1;

  .post-header {
    padding: 0;
  }
}

.color-secondary{
  color: $color-primary;
}

.center {
  text-align: center;
}

.relative {
  position: relative;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

ol, ul {
  padding-left: 1em;
}