{% if site.custom_scripts.gtag %}
<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
  w[l] = w[l] || [];
  w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
  var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
  j.async = true;
  j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
  f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', '{{ site.custom_scripts.gtag }}');</script>
<!-- End Google Tag Manager -->
{% endif %}

{% if site.analytics.facebookpixel.tracking_id%}
<!-- Facebook Pixel Analytics tracking -->
<amp-analytics data-block-on-consent-purposes="marketing" type="facebookpixel" id="facebook-pixel">
  <script type="application/json">
    {
      "vars": {
        "pixelId": "{{ site.analytics.facebookpixel.tracking_id }}"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
  </script>
</amp-analytics>
<!-- End Facebook Pixel Analytics example -->
{% endif %}

{% if site.analytics.googleadwords.tracking_id %}
<!-- googleadwords tracking -->
<amp-analytics data-block-on-consent-purposes="marketing" type="gtag" data-credentials="include">
  <script type="application/json">
    {
      "vars": {
        "gtag_id": "{{site.analytics.googleadwords.tracking_id}}",
        "config": {
          "{{site.analytics.googleadwords.tracking_id}}": {
            "groups": "default"
          }
        }
      }
    }
  </script>
</amp-analytics>
<!-- End googleadwords tracking-->
{% endif %}

{% if site.analytics.googleanalytics.tracking_id %}
<!-- googleanalytics tracking -->
<amp-analytics data-block-on-consent-purposes="statistic" type="gtag" data-credentials="include">
  <script type="application/json">
    {
      "vars": {
        "gtag_id": "{{site.analytics.googleanalytics.tracking_id}}",
        "config": {
          "{{site.analytics.googleanalytics.tracking_id}}": {
            "groups": "default"
          }
        }
      }
    }
  </script>
</amp-analytics>
<!-- End googleanalytics tracking-->
{% endif %}

{% if site.experiments.gaExperimentID %}
<!-- Google Optimize Experiment -->
<amp-experiment>
  <script type="application/json">
    {
      "{{site.experiments.experimentName}}": {
        "sticky": false,
        "variants": {
          "0": 50,
          "1": 50
        }
      }
    }
  </script>
</amp-experiment>

<amp-analytics id='analytics1' type='googleanalytics'>
  <script type='application/json'>
{
  "vars": {
    "account": "{{site.experiments.gaPropertyID}}"
  },
  "requests": {
     "experiment": "${pageview}&xid=${xid}&xvar=${xvar}"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "experiment",
       "vars": {
         "xid": "{{site.experiments.gaExperimentID}}",
         "xvar": "VARIANT({{site.experiments.experimentName}})"
       }
    }
  }
}

  </script>
</amp-analytics>
<!-- End Google Optimize Experiment -->
{% endif %}

{% for id in site.custom_scripts.gtags %}
<!-- Google Tag Manager -->
<amp-analytics config="https://www.googletagmanager.com/amp.json?id={{id}}"
               data-credentials="include"></amp-analytics>
{% endfor %}