{% if site.analytics.gtag %}
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id={{ site.analytics.gtag }}"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}

{% if site.analytics.facebookpixel.tracking_id%}
<!-- Facebook Pixel Analytics tracking -->
<amp-analytics data-block-on-consent-purposes="marketing" type="facebookpixel" id="facebook-pixel">
  <script type="application/json">
    {
      "vars": {
        "pixelId": "{{ site.analytics.facebookpixel.tracking_id }}"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
  </script>
</amp-analytics>
<!-- End Facebook Pixel Analytics example -->
{% endif %}

{% if site.analytics.googleadwords.tracking_id %}
<!-- googleadwords tracking -->
<amp-analytics data-block-on-consent-purposes="marketing" type="gtag" data-credentials="include">
  <script type="application/json">
    {
      "vars": {
        "gtag_id": "{{site.analytics.googleadwords.tracking_id}}",
        "config": {
          "{{site.analytics.googleadwords.tracking_id}}": {
            "groups": "default"
          }
        }
      }
    }
  </script>
</amp-analytics>
<!-- End googleadwords tracking-->
{% endif %}

{% if site.analytics.googleanalytics.tracking_id %}
<!-- googleanalytics tracking -->
<amp-analytics data-block-on-consent-purposes="statistic" type="gtag" data-credentials="include">
  <script type="application/json">
    {
      "vars": {
        "gtag_id": "{{site.analytics.googleanalytics.tracking_id}}",
        "config": {
          "{{site.analytics.googleanalytics.tracking_id}}": {
            "groups": "default"
          }
        }
      }
    }
  </script>
</amp-analytics>
<!-- End googleanalytics tracking-->
{% endif %}

{% if site.experiments.gaExperimentID %}
<!-- Google Optimize Experiment -->
<amp-experiment>
  <script type="application/json">
    {
      "{{site.experiments.experimentName}}": {
        "sticky": false,
        "variants": {
          "0": 50,
          "1": 50
        }
      }
    }
  </script>
</amp-experiment>

<amp-analytics id='analytics1' type='googleanalytics'>
  <script type='application/json'>
{
  "vars": {
    "account": "{{site.experiments.gaPropertyID}}"
  },
  "requests": {
     "experiment": "${pageview}&xid=${xid}&xvar=${xvar}"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "experiment",
       "vars": {
         "xid": "{{site.experiments.gaExperimentID}}",
         "xvar": "VARIANT({{site.experiments.experimentName}})"
       }
    }
  }
}

  </script>
</amp-analytics>
<!-- End Google Optimize Experiment -->
{% endif %}

{% for id in site.analytics.gtags %}
<!-- Google Tag Manager -->
<amp-analytics config="https://www.googletagmanager.com/amp.json?id={{id}}"
               data-credentials="include"></amp-analytics>
{% endfor %}