{% if site.consent%}
<amp-consent layout="nodisplay" id="siteConsent">
  <script type="application/json">
    {
      "consentInstanceId": "consent1",
      "consentRequired": true,
      "promptUI": "consentPopup",
      "postPromptUI": "repromptDialog",
      "uiConfig": {
        "overlay": false
      }
    }
  </script>
  <div id="consentPopup">
    <div id="consentDialog">
      <h4 class="color-secondary">🍪 Cookie-Einstellungen</h4>
      <p>Diese Website verwendet Cookies, die die Funktion der Website unterstützen und nachvollziehen, wie Du mit ihr
        interagierst. Wir verwenden die Cookies nur, wenn Du dem zustimmst, indem Du auf “Akzeptieren”
        klickst. Du kannst auch individuelle Cookie-Präferenzen unter “Konfigurieren” verwalten.</p>

      <hr>

      <details class="choices">
        <summary class="heading">Konfigurieren</summary>
        <label class="consentLabel" for="consent-essential">
          <input
            disabled
            checked
            id="consent-essential"
            type="checkbox"
            on="change:siteConsent.setPurpose(essential=event.checked)"
          />
          <div class="checkmark"></div>
          <div>
            <h5>Essenzielle Cookies</h5>
            Diese Cookies sind notwendig. Es handelt sich um grundlegende Cookies, um Dir eine sichere und funktionale
            Nutzung von WechselGott zu ermöglichen. Diese können daher nicht deaktiviert werden.
          </div>
        </label>
        <label class="consentLabel" for="consent-marketing">
          <input
            id="consent-marketing"
            type="checkbox"
            on="change:siteConsent.setPurpose(marketing=event.checked)"
          />
          <div class="checkmark"></div>
          <div>
            <h5>Tracking & Marketing</h5>
            Diese Cookies helfen uns zu verstehen, wie Besucher unsere Website nutzen oder wie effektiv unsere
            Marketingkampagnen sind. Sie helfen uns dabei unsere Inhalte optimal anzupassen, um Deine Nutzererfahrung zu
            verbessern.
          </div>
        </label>
      </details>
      <hr>

      <button
        class="choiceButton"
        on="tap:siteConsent.accept(purposeConsentDefault=true)"
        id="consent-all"
      >
        Akzeptieren
      </button>
      <button
        class="choiceButton stroke"
        on="tap:siteConsent.accept"
        id="consent-selected"
      >
        Auswahl erlauben
      </button>
    </div>
  </div>
  <div id="repromptDialog">
    <button on="tap:siteConsent.prompt">🍪</button>
  </div>
</amp-consent>

{% if site.custom_scripts.gtag %}
<!-- Google Tag Manager -->
<script>
  function setCookie(cookieName, cookieValue) {
    const expiresInDays = 30
    const expiresDate = new Date();
    expiresDate.setTime(expiresDate.getTime() + (expiresInDays * 24 * 60 * 60 * 1000));
    const expires = "expires=" + expiresDate.toUTCString();

    const s = location.hostname.split('.')
    delete s[0]
    const domain = "domain=" + (s.length <= 1? location.hostname : s.join('.'))

    document.cookie = cookieName + "=" + JSON.stringify(cookieValue) + ";" + expires + ";path=/;" + domain;
  }

  function getCookie(cookieName) {
    let name = cookieName + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return JSON.parse(c.substring(name.length, c.length));
      }
    }
    return {};
  }

  function analytics() {
    setCookie("CookieConsent", {"necessary": true, "preferences": true, "statistics": true, "marketing": true});
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start':
                new Date().getTime(), event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
              j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
              'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '{{ site.custom_scripts.gtag }}');
  }

  if (getCookie("CookieConsent").marketing) {
    analytics()
  }

  let marketing = false;

  function updateValue(e) {
    marketing = e.target.checked;
  }

  function consentSelected() {
    if (marketing) {
      analytics();
    } else {
      setCookie("CookieConsent", {"necessary": true, "preferences": true, "statistics": false, "marketing": false});
    }
  }

  document.getElementById('consent-marketing').addEventListener('change', updateValue);
  document.getElementById('consent-all').addEventListener('click', analytics);
  document.getElementById('consent-selected').addEventListener('click', consentSelected);

</script>
<!-- End Google Tag Manager -->
{% endif %}

{% endif %}
