html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article, aside, details, /* 1 */ figcaption, figure, footer, header,
  main, /* 2 */ menu, nav, section, summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio, canvas, progress, video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]){
   display:none;
   height:0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template, /* 1 */ [hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active, a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b, strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root){
    overflow:hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button, input, select, textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button, html [type="button"], /* 1 */ [type="reset"], [type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"], [type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button
  {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration
  {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

input:not([type='image']):not([type='submit']), select, textarea{
	border: 1px solid rgb(168, 168, 168);
	box-shadow:none !important;
	padding:1px;
}

/***********************************************************/
button, input, select {
  overflow: auto;
  text-transform: none;
  font-size: small;
}

.small_text {
  font-size: small;
}

.border_spacing_zero {
  border-spacing: 0px;
}

.tarif_diagr, .tarif_diagr_sum {
  padding-left: 0px;
  margin-left: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

.tarif_diagr_sum {
  padding-left: 10px;
  width: 125px;
  border: 0px;
}

.link_more_info {
  display: block;
  text-decoration: underline;
  align: left;
  padding-left: 15px;
  width: 106px;
  height: 13px;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ff6e4b;
}

.link_more_info_2 {
  margin-left: 5px;


  font-family: Helvetica;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ff6e4b;
}

.more_info_baufi {
  position: absolute;
  bottom: 5px;
  width: 350px;
  z-index: 100;
  overflow: visible;
}

.rich_panel_tarif_kalkart, .rich_panel_tarif_sum, .rich_panel_tarif {
  position: relative;
  width: 100%;
  height: 222px;
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
  border: 0px;
}

.rich_panel_tarif_intern_sum, .rich_panel_tarif_intern {
  position: relative;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
  border: 0px;
}

.rich_panel_tarif_kalkart {
  width: 100%;
  height: 100%;
  position: relative;
}

.rich_spacer_sum, .rich_spacer {
  float: left;
  width: 170px;
  height: 0px;
}

.rich_spacer_sum {
  overflow: visible;
  width: 125px;
}

.rich_panel_tarif_sumX img {
  overflow: visible;
  z-index: 1;
}

.page {
  border-bottom-width: 2px;
  border-left-color: rgb(249, 142, 39);
  border-right-color: rgb(249, 142, 39);
}

.page_trenner {
  color: Black;
  border-style: solid;
  border-color: Black;
  border-width: thin
}

.page_selectionHeader {
  text-align: left;
  text-decoration: underline;
  font-weight: normal;
  width: 20px
}

.page_headerBackground {
  border: none;
  padding: 0px;
  background-color: rgb(247, 148, 29)
}

.page_headerPanel {
  height: 150px;
  top: 0px;
  left: 0px;
  border: none;
  padding: 0px;
  background-color: rgb(247, 148, 29)
}

.page_headerBar {
  height: 100px;
  top: 0px;
  left: 0px;
  border: none;
  padding: 0px;
  background-color: rgb(247, 148, 29)
}

.page_headerBarBody {
  padding: 0px;
}

.page_headerBar_title {
  top: 30px;
  left: 300px;
  position: relative;
  text-align: left;
  color: white;
  font-style: normal;
  font-size: large;
  text-decoration: none;
  font-family: Serif;
  font-weight: bold
}

.page_headerBar_buttonbox {
  bottom: 0px;
  left: 150px;
  position: relative;
  background-color: rgb(247, 148, 29)
}

.page_headerBar_buttonGroup {
  width: 590px;
  height: 80px;
  background-color: rgb(247, 148, 29);
  border-style: none
}

#page_headerBar_button {
  background-color: rgb(247, 148, 29)
}

.page_headerBarFont {
  width: 330px;
  height: 14px;
  font-family: Europa;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.page_mainNaviColumn {
  overflow: auto;
  vertical-align: top;
  width: 25%;
  height: 100%;
  min-height: 400px
}

.page_mainPagesColumn {
  vertical-align: top;
  width: 75%;
  height: 100%;
  min-height: 400px
}

.page_header {
  background-color: rgb(249, 142, 39);
}

.page_subSectionLabel {
  text-align: left;
  text-decoration: none;
  font-weight: normal;
  font-size: small
}

.ui-panel.page_buttonbox {
  border-width: 1px;
  border-style: solid;
  padding: 1px;
  outline-width: 0px;
  margin: 0px;
}

.page_buttonbox_labeltext {
  text-align: center;
  font-size: small;
  max-width: 50px;
  text-decoration: none;
  font-style: normal
}

.ui-panel.pageblock .ui-panel.page_buttonbox .ui-panel-content {
  padding: 0px;
}

.page_inputLabel {
  text-align: left;
  font-size: small;
  text-decoration: none
}

.page_inputLabel_gray {
  color: gray;
  text-align: left;
  font-size: small;
  text-decoration: none
}

.kombiniertMitCol{
	vertical-align:top;
}

.checkTarifkombination {
  border-spacing:0px;
}

	.infoTarifKombiniertMitLabel{
		display:inline-block;
	}

.infoTarifkombinationRow1{
	padding-right: 1.6em;
	float: right;
}

.infoTarifkombinationRow2{
	padding-right: 1.6em;
	float: right;
}

.bagatellTable td {
  vertical-align: top;
}

.bagatell_erkrankungen_label, .baufiHinweisLabel {
  display: block;
  text-align: left;
  font-size: 12px;
  text-decoration: none;
  margin-bottom: 1px
}

.bagatellColumn1 {
  width: 2%;
  vertical-align: top;
}

.bagatellColumn2 {
  width: 98%;
}

.tarifAusw_Column1 {
  width: 180px;
  vertical-align: top;
}

.tarifAusw_Column2 {
  width: 200px;
  vertical-align: top;
}

.tarifAusw_Column2_BUZ {
  width: 300px;
  vertical-align: top;
}

.tarifAusw_Column3 {
  width: 214px;
  vertical-align: top;
}

.tarifAusw_Column4 {
  width: 129px;
  vertical-align: top;
}

.tarifAusw_Column5 {
  width: 117px;
  vertical-align: top;
}

.tarifAusw_Beruf input {
  width: 220px !important;
  height: 17px !important;
  font-size: small !important;
  text-decoration: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  margin-right: 4px;
  padding-top: 1px !important;
  padding-right: 1px !important;
  padding-bottom: 1px !important;
  padding-left: 1px !important;
}

.page_inputLabel2 {
  float: left;
  margin-top: 3px;
  width: 150px;
}

.page_inputLabel2VP {
  width: 140px;
}

.page_optionheader {
  text-align: center;
  font-size: small;
  font-weight: bold;
  text-decoration: none;
}

.page_inputSpinNumberShort, .page_inputTextNumberLong, .page_inputText,
  .page_inputText2 {
  text-align: right;
  font-size: small;
  text-decoration: none;
  height: 16px;
}

.page_inputTextShort{
	text-align: right;
	text-decoration: none;
	height: 16px;
	width: 110px;
}

.page_inputTextNumberLong input {
  text-align: right;
  font-size: small !important;
  text-decoration: none;
  width: 106px; height : 16px;
  border-radius: 0px !important;
  box-shadow: none !important;
  padding: 1px;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-top-style: inset !important;
  border-left-style: inset !important;
  height: 16px;
}

.inputPersonenDaten input {
  width: 100%;
  height: 22px;
  *height: 16px;
  box-sizing: border-box;
  font-size: small !important;
  text-decoration: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  padding: 1px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-top-style: inset !important;
  border-left-style: inset !important;
}

.calendarClass.calendarClassGwg input {
  width: 146px !important;
}

.calendarClass input {
  width: 110px !important;
  height: 16px !important;
  font-size: small !important;
  text-decoration: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  padding-top: 1px !important;
  padding-right: 1px !important;
  padding-bottom: 1px !important;
  padding-left: 1px !important;
}

.inputNumber input {
  text-align: right;
  width: 104px !important;
  height: 16px !important;
  font-size: small !important;
  text-decoration: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  padding-top: 1px !important;
  padding-right: 1px !important;
  padding-bottom: 1px !important;
  padding-left: 1px !important;
}

.inputNumberShort input {
  height: 16px !important;
  width: 110px !important;
  text-align: right;
  font-size: small !important;
  text-decoration: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  padding-top: 1px !important;
  padding-right: 1px !important;
  padding-bottom: 1px !important;
  padding-left: 1px !important;
}

.inputNumberPF input {
  width: 331px !important;
  height: 20px !important;
  font-size: small !important;
  text-decoration: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  margin-right: 4px;
  padding-top: 1px !important;
  padding-right: 1px !important;
  padding-bottom: 1px !important;
  padding-left: 1px !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-top-style: inset !important;
  border-left-style: inset !important;
}

.inputPersonenDatenLongPF input{
  width: 330px !important;
  height: 17px !important;
  font-size: small !important;
  text-decoration: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  margin-right: 4px;
  padding-top: 1px !important;
  padding-right: 1px !important;
  padding-bottom: 1px !important;
  padding-left: 1px !important;
}

.ui-datepicker {
  font-size: 1em;
}

.ui-icon-calendar {
  background-image: url("../images/icons/Kalender.png") !important;
  background-size: 15px 15px;
  background-position-x: center;
  background-position-y: center;
  border-radius: 0px;
  left: 35% !important;
  margin-left: -12px !important;
  position: absolute;
  top: 50% !important;
  margin-top: -10px !important;
}

.ui-datepicker-trigger.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only
  {
  background-color: white;
  background: white !important;
  border: none;
  box-shadow: none;
  margin: 0px;
  margin-left: 5px;
}

/* Disable item panels in the PF autocomplete input box when selecting multiple items */
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-token.ui-state-active,
  .ui-autocomplete .ui-autocomplete-token.ui-state-active, .ui-chips .ui-chips-token.ui-state-active
  {
  display: none !important;
}

.userChoiceBox {
  display: inline-block;
  line-height: 30px;
  padding-left: 7px;
  height: 32px;
  width: 280px;
  font-size: 13px;
  margin-bottom: 10px;
}

.userChoiceBoxButton {
  width: 32px;
  height: 18px !important;
  padding: 0px !important;
  cursor: pointer;
  float: right !important;
    text-align: center !important;
    border: 1px solid rgb(168,168,168) !important;
    border-left: 0px !important;
}

.deleteButton{
    text-align: center;
    vertical-align: middle !important;
    width: 100%;
    font-size: 27px;
    line-height:19px;
    color: rgb(0, 0, 0);
    font-family:initial;
}

.userChoiceBoxButtonImg {
  width: 18px;
  vertical-align: middle;
}

.f1UserChoiceList {
  height: 22px !important;
}

.userChoiceList input, .f1UserChoiceList input {
  width: 280px;
  height: 18px !important;
  font-size: small !important;
  text-decoration: none !important;
  border-radius: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-left: 7px !important;
}

.userChoiceListWithDelete input{
 border-right:none !important;
}

/* Setting style for PrimeFace elements in case of using Chrome: */
@media screen and (-webkit-min-device-pixel-ratio:0) and
  (min-resolution:.001dpcm) {

	.checkTarifkombination{
		line-height:1.9em;
		padding-top:0.3em;
	}

	.infoTarifKombiniertMitLabel{
		padding-top:0.4em;
	}

	.infoTarifkombinationRow1{
		padding-top:0.7em;
	}
	.infoTarifkombinationRow2{
		padding-top: 0.9em;
	}

	.kombiniert_mit_vitality_row1{
		padding-top:0.2em;
	}

	.kombiniert_mit_vitality_row2{
		padding-top:0.5em;
	}

  .inputNumber input, .inputPersonenDaten input,
    .page_inputTextNumberLong input {
    padding-top: 1px !important;
    padding-right: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 1px !important;
    border-top-width: 1px !important;
    border-left-width: 1px !important;
    border-top-style: solid !important;
    border-left-style: solid !important;
  }
  .inputNumberPF input {
    padding-top: 1px !important;
    padding-right: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 1px !important;
    border-top-width: 1px !important;
    border-left-width: 1px !important;
    border-top-style: solid !important;
    border-left-style: solid !important;
  }

  .inputPersonenDatenLongPF input{
    width: 331px !important;
    height: 18px !important;
    padding-top: 1px !important;
    padding-right: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 1px !important;
    border-top-width: 1px !important;
    border-left-width: 1px !important;
    border-top-style: solid !important;
    border-left-style: solid !important;
  }
  .userChoiceBoxButton {
    width: 32px;
    height: 18px !important;
    padding: 0px !important;
    cursor: pointer;
    float: right !important;
    text-align: center !important;
  }

.deleteButton{
    color: rgb(119, 119, 119)!important;
}

  .userChoiceList input, .f1UserChoiceList input {
    width: 280px;
    height: 18px !important;
    font-size: small !important;
    text-decoration: none !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 7px !important;
    border-radius: 0px !important;
  }
}

/* Style fuer Firefox	 */
@-moz-document url-prefix() {

	.checkTarifkombination{
		line-height:2.13em;
		padding-top:0.2em;
	}

	.infoTarifKombiniertMitLabel{
		padding-top:0.5em;
	}

	.infoTarifkombinationRow1{
		padding-top:0.8em;
	}

	.infoTarifkombinationRow2{
		padding-top:0.9em;
	}

	.kombiniert_mit_vitality_row1{
		padding-top:0.4em;
	}

	.kombiniert_mit_vitality_row2{
		padding-top:0.5em;
	}
}

/*  style for IE10+*/
@media screen and (-ms-high-contrast: active) , ( -ms-high-contrast :
  none) {

	.checkTarifkombination{
		line-height:2.1em;
		padding-top:0.3em;
	}

	.infoTarifKombiniertMitLabel{
		padding-top:0.5em;
	}

	.infoTarifkombinationRow1{
		padding-top:0.8em;
	}

	.infoTarifkombinationRow2{
		padding-top:1.1em;
	}

	.kombiniert_mit_vitality_row1{
		padding-top:0.5em;
	}

	.kombiniert_mit_vitality_row2{
		padding-top:0.7em;
	}
}

.subtitel {
  text-align: left;
  font-size: small;
  font-weight: bold;
  margin-left: 20px;
  padding-left: 0px;
  text-decoration: none;
}

.ui-panel.pageblock {
  width: 900px;
  height: 100%;
  border-width: 0px;
  padding: 0;
}

.ui-panel.pageblock.dias-top-level-panel>.ui-panel-content {
  padding: 0 0;
}

.ui-panel.pageblock .ui-panel-content {
  padding: 10px; 
  font-size: 11px;
  color: #000;
  font-family: Arial, Verdana, sans-serif;
}

.page_inputLabel_bold {
  text-align: right;
  font-size: small;
  font-weight: bold;
  text-decoration: none;
}

.resultHighlight {
  font-weight: bold;
}

.page_inputText {
  text-align: left
}

.page_inputText2 {
  float: left;
}

.page_berufsDia_bigInfotext {
  text-align: center;
  font-style: normal;
  font-size: large;
  background-color: Gainsboro;
  font-weight: bold;
}

.subw_dokuAuswSelBox {
  overflow: auto;
  vertical-align: top;
  width: 100%;
  height: 100%;
  min-height: 200px;
}

.pflichtfeld {
  text-align: right;
  color: black;
  text-decoration: none;
}

.info_richpanel {
  margin: 0px;
  height: 20px;
  width: 20px;
  border: 1px;
  align: center;
  padding: 0px;
}

.beruf_question_disabled {
  color: grey;
}

.functional_option_images {
  margin-top: 2px;
}

.msgImage, .functional_option_images, .functional_option_bigimages {
  height: 30px;
  width: 30px;
}

.functional_option_bigimages {
  height: 30px;
  width: 30px;
  vertical-align: top;
  float: left;
  margin: 0 3px 0 0;
}

.functional_option_links {
  text-decoration: none;
  color: #C4C0B9;
}

.ergebnisTblheader {
  text-align: center;
  font-size: small;
  font-weight: bold;
  background-color: Gainsboro;
  text-decoration: none;
}

.berechnungLabel {
  width: 50%;
}

.risikoFieldColumnAnnu {
  width: 119px;
}

.risikoFieldColumn {
	width: 114px;
  text-align: right;
}

.risikoLabelColumn, .risikoFieldColumnAnnuInfo {
  width: 170px;
}

 .sbuLabelColumn, .seuLabelColumn{
  width: 176px;
  }

.risikoLabelColumnZeitrente {
  width: 193px;
}

.risikoLabelColumnFinanz {
  width: 240px;
}

.risikoFieldColumn, .risikoFieldColumnAnnu, .risikoFieldColumnSpar,
  .risikoFieldColumnInfo, .risikoFieldColumnAnnuInfo,
  .risikoFieldColumnSparInfo {
  vertical-align: top;
}

.sbuFieldColumn, .seuFieldColumn {
  vertical-align: middle;
}

.sbuFieldColumnInfo, .seuFieldColumnInfo {
  vertical-align: middle;
}

.sbuoptionColumn {
  width: 610px;
}

.euoptionColumn {
  width: 610px;
}

.optionColumn1 {
  width: 22px;
}

.optionColumn2 {

}

.optionColumn3 {
  text-align: right;
}

.risikoLabelColumn2 {
  width: 146px;
}

.risikoFieldColumnAnnu {
  width: 110px;
}

.selectmenu {
  width: 108px;
  height: 20px;
}

.selectmenu2 {
  width: 232px;
}

.selectmenu3 {
  width: 200px;
}

.selectmenuListButton {
  -webkit-appearance: menulist-button;
}

select {
  -webkit-appearance: none;
}

.ergebnisGroupheader {
  text-align: left;
  font-size: small;
  font-weight: bold;
  text-decoration: none;
  width: 500px;
}

.dialoghg {
  background-color: white;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hgcl360000, .hgcl002000, .hgcl008000, .hgcl003000 {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}

.hglogo360000 {
  overflow: hidden;
  width: 896px;
  padding: 0 0;
}

#version {
  float: left;
  color: grey;
}

/*
 * Primefaces FileUpload in der Toolbox (Berechnung laden).
 */
.toolbox-item .ui-fileupload {
  width: 180px;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.toolbox-item .ui-fileupload .ui-fileupload-buttonbar {
  border: none;
  background: none;
  padding: 0px;
  border-radius: unset;
}

.toolbox-item .ui-fileupload .ui-fileupload-buttonbar .ui-fileupload-choose
  {
  border: none;
  background: none;
  height: 30px;
  overflow: hidden;
  vertical-align: top;
  margin: 0px;
  display: block;
  text-align: left;
}

.toolbox-item .ui-fileupload .ui-fileupload-buttonbar .ui-fileupload-choose.ui-state-hover
  {
  border: none;
  background: none;
  color: unset;
  box-shadow: none;
}

.toolbox-item .ui-fileupload .ui-fileupload-buttonbar .ui-fileupload-choose .ui-icon
  {
  background-image: url("../images/icon/dialog-icon-speichern-30.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding: 0px;
  border-radius: 0;
  margin: 0px;
  position: relative;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  margin: 0 3px 0 0;
  display: block;
  float: left;
}

.toolbox-item .ui-fileupload .ui-fileupload-buttonbar .ui-fileupload-choose .ui-button-text
  {
  color: #666;
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  text-align: left;
  display: block;
}

.toolbox-item .ui-fileupload .ui-fileupload-content {
  position: absolute;
  top: 15px;
  right: 0px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  z-index: 1001;
  display: none;
  min-width: 500px;
}

.ui-fileupload-row > .ui-fileupload-filename {
  word-break: unset!important;
}
.ui-fileupload-content .ui-progressbar {
  width: 150%;
}

/* Ende Primefaces FileUpload */
.toolbox, .footerbox {
  border-top: 1px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: #C4C0B9;
  position: relative;
  height: 45px;
  padding: 10px 0;
}

.toolbox {
  border-width: 0 0;
}

.footerbox {
  padding: 17px 0 0 0;
}

.toolbox-item {
  float: left;
  margin: 0 12px;
  text-align: left;
  font-weight: bold;
}

.footerbox-item {
  float: left;
  margin: 0 10px;
  text-align: left;
  width: 180px;
}

.footerbox-item2 {
  float: left;
  text-align: left;
  width: 170px;
}

.footerbox-item3 {
  float: left;
  text-align: left;
  width: 220px;
}

.footerbox-item-generali {
  float: left;
  margin: 0 10px;
  text-align: left;
  width: 250px;
}

.footerboxtext {
  font-size: 12px;
  font-weight: bold;
  color: #666;
  text-decoration: none;
  float: left;
  margin-left: 10px;
  vertical-align: middle;
}

.footerboxtext_no_float {
  font-size: 12px;
  font-weight: bold;
  color: #666;
  text-decoration: none;
  margin-left: 10px;
  vertical-align: middle;
}

.footerboxtext_klein {
  font-size: 11px;
  font-weight: normal;
}

.toolboxtext {
  font-size: 15px;
  font-weight: bold;
  color: #666;
  text-decoration: none;
  text-align: left;
}

.tarif_diagr, .tarif_diagr_sum, .toolboxtext_klein {
  font-size: 11px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
}

.toolboxtext_klein {
  float: left;
}

.avbcheckbox {
  float: left;
  margin: -2px 0 0 10px;
  padding: 0 0;
  vertical-align: top;
  color: #666;
}

.avbcheckbox input {
  vertical-align: middle;
  margin: 0 0;
}

.linkDiaParamLinkHead {
  margin: 15px 0;
}

.paramLink {
  max-width: 680px;
  word-wrap: break-word;
  height: 100%;
}

.paramLink textarea {
  height: 250px;
  width: 100%;
  font-size: 0.8em;
}

.richVermPanel, .richVermPanelBody, .personenDatenAntragStellerPanel,
  .personenDatenVersicherteGeneralInfoPanel {
  border-width: 0px;
  padding: 0 0;
  overflow: hidden;
}

.panel_10PX_padding_left {
  padding-left: 10px;
}

.panelGroupCol1Indent {
  vertical-align: middle;
  display: inline-table;
  width: 18%;
  float: left;
  clear: left;
  margin-bottom: 4px;
  margin-left: 6px;
}

.panelGroupCol1 {
  display: inline-table;
  width: 19%;
  float: left;
  clear: left;
  margin-bottom: 4px;
  margin-left: 6px;
}

.antragsstellerCol1Indent {
  width: 20.3%;
  padding-left: 6px;
}

.antragsstellerCol1 {
  width: 21%;
  padding-left: 6px;
}

.antragsstellerCol2Indent {
  width: 38.9%;
}

.antragsstellerCol2 {
  width: 39.9%;
}

.vermittlerCol1 {
    width: 21%;
    padding-left: 6px;
}

.geldwaescheCol1Indent {
  width: 19.2%;
  padding-left: 6px;
}

.geldwaescheCol1 {
  width: 20.1%;
  padding-left: 6px;
}

.sepaCol1Indent {
  width: 29.1%;
  padding-left: 6px;
}

.sepaCol1 {
  width: 30.5%;
  padding-left: 6px;
}

.panelGroupCol1GWIndent {
  display: inline-table;
  width: 17%;
  float: left;
  clear: left;
  margin-bottom: 10px;
  margin-left: 6px;
}

.panelGroupCol1SepaIndent {
  display: inline-table;
  width: 17%;
  float: left;
  clear: left;
  margin-bottom: 10px;
  margin-left: 6px;
}

.panelGroupCol2 {
  display: inline-table;
  width: 80%;
  float: left;
  margin-bottom: 4px;
}

.panelGroupCol2Sepa {
  display: inline-table;
  width: 55%;
  float: left;
  margin-bottom: 4px;
}

.panelGroupCol3Sepa {
  display: inline-table;
  width: 25%;
  float: right;
  margin-bottom: 4px;
}

.panelGroupCol3SepaAbwKontoinhaber {
  display: inline-table;
  width: 25%;
  float: right;
  margin-bottom: 4px;
  position: relative;
  top: 70px;
}

.staatsangehoerigkeitsColumn1 {
  width: 60%;
}

.staatsangehoerigkeitsColumn2 {
  width: 30%;
}

.staatsangehoerigkeitsColumn3 {
	width: 10%;
}

.staatsangehoerigkeitsColumnJa {
  width: 50%;
  text-align: right;
}

.staatsangehoerigkeitsColumnNein {
  width: 50%;
  text-align: right;
}

.staatsangehoerigkeitsRowJaNeinLabel {
  margin-bottom: 10px;
}

.clearfix {
  overflow: auto;
}

.dias-mandatory-field-footnote {
  clear: both;
}

.dias-top-level-panel .ui-tabs .ui-tabs-panel {
  padding: 8px;
}

.dias-top-level-panel .ui-tabs .ui-tabs-panel>div {
  overflow: auto;
}

.dias-top-level-panel .ui-tabs .ui-tabs-panel>div.zuschlaege {
  overflow: visible;
}

.divSpalte {
  float: left;
  width: 425px;
  padding: 2px 0;
}

.divInfoButton {
  float: right;
  margin: 2px 11px 0 0;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.divInfoButton2 {
  margin-left: 10px;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.divInfoButton3 {
  margin-left: 2px;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-bottom: 0px;
}


.divInfoNotVisible {
  margin-left: 0px;
  vertical-align: middle;
  width: 0px;
  height: 0px;
  margin-bottom: 0px;
  *margin-bottom: 0px;
}

.gesundheitsfrageJaNeinImage{
	width:25px;
	height:25px;
}

.divInfoButton4 {
  margin-left: 2px;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-bottom: 0px;
  cursor: pointer;
}

.divInfoButtonSizeOnly {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.divInfoButtonVP {
  margin: 2px 22px 0 0;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

input::placeholder {
  font-style: italic;
}

.autocompleteInputText::-ms-clear {
  display: none;
}

.ui-inputgroup .userChoiceList input {
  width: 247px !important;
}

.ui-inputgroup{
	display:inline-block !important;
}

.vpFragenLinks {
  width: 650px;
  padding-top: 6px;
}

.vpFragenRechts {
  width: 103px;
}

.vpFragenRechts label, .radiobutton label {
  vertical-align: bottom;
}

.banner {
  padding: 0;
  border: 0;
}

.radioFinanzierung {
  border-spacing: 0px !important;
  border-collapse: collapse !important;
}

.radioFinanzierung label, .radioFinanzierung input {
  vertical-align: middle;
  font-size: small;
}

/*Hack zum Unterdrücken von Verschiebern nach dem Rerendern*/
.radioFinanzierung label {
  display: -moz-box;
  -moz-margin-start: 0.3em;
}

.radioFinanzierung td {
  line-height: 1.6em;
  padding: 0.1em 0em;
}

.radioDisabled input[disabled="disabled"] {
  visibility: hidden;
}

.ohneButton {
  display: none;
}

.ohneButton label {
  margin-left: 25px;
}

.riskErgebnisWunschtarif, .riskErgebnisEmpfehlung {
  color: #ff6e4b;
  font-size: larger;
  font-weight: bold;
}

.riskErgebnisAktAngTarifHeader {
  background-color: #ff6e4b;
  color: white;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  height: 35px;
}

.riskErgebnisTarifHeader {
  background-color:#dde5ed; 
  color: black;
}



.riskErgebnisTarifHeader span {
  font-weight: normal;
}

.riskErgebnisTarifColumnLabel {
  text-align: left;
  width: 300px;
}

.riskErgebnisTarifColumnLabelMitLinien {
  text-align: left;
  width: 300px;
  border-bottom-color: lightgrey;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}

.riskErgebnisTarifColumnAngebot {
	position:relative; 
	z-index:0;
   text-align: center;
   width: 251px;
}

.riskErgebnisTarifColumnAngebotMitLinien {
	position: relative;
    z-index: 0;
    text-align: center;
    width: 251px;
    border-bottom-color: lightgrey;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

.riskErgebnisTarifColumnAngebot table,
  .riskErgebnisTarifColumnAngebotMitLinien table {
  width: 100%;
}

.riskErgebnisTarifColumnInfo {
  text-align: center;
  width: 50px;
}

.riskErgebnisTarifColumnInfoMitLinien {
  text-align: center;
  width: 50px;
  border-bottom-color: lightgrey;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}

.riskErgebnisHeaderAbschnitt {
  color: #ff6e4b;
  font-size: larger;
  font-weight: bold;
}

.tooltip {
  text-align: left;
}

div.ui-tooltip-text.ui-shadow.ui-corner-all{
  background-color: #ff6e4b !Important;
  border-color:#ff6e4b;
  color:#ffffff;
}

.markierungAngebot {
   position: absolute;
    width: 251px;
    *width: 238px;
    height: 290px;
    background-color:#dde5ed;
    opacity: 0.8;
    filter: Alpha(Opacity = 40);
    z-index: -1;
}

.markierungAktAngebot {
  background-color: #dde5ed; 
  opacity: 0.2;
  filter: Alpha(Opacity = 20);
}

.markierungAngebotKurz {
  height: 70px;
}

.markierungAngebotVerbundLeben {
  height: 320px;
}

.label2Zeilen label {
  display: block !important;
  margin: -1.4em 0 0 1.3em;
}

.label2Zeilen td {
  padding-top: 0.0em;
  padding-bottom: 0.1em;
}

.vertriebsweg {
  height: 5em;
  margin-bottom: 2em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #c4c0b9;
}

.vertriebsweg div {
  margin-top: 1.6em;
  display: inline;
  float: left;
}

.vertriebsweg a {
  margin-left: 1.5em;
  text-decoration: none;
}

.zuschlaege {
  margin-top: 0.6em;
  clear: both;
  height: 29em;
}

.zuschlaege>.ui-panel-content {
  height: 100%;
}

.zuschlaege fieldset {
  height: 23em;
}

.zuschlaege_zeile1 {
  height: 4.5em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 1em;
}

.zuschlaege_zeile2 {
  height: 11em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 1em;
}

.background_green {
  background-color: #ADDE90;
}

.background_red {
  background-color: #DFA1AA;
}

.background_check_ok {
  background: url(/images/checkOk.png) no-repeat scroll center right 3px;
  background-size: 15px 15px;
}

.background_check_not_ok {
  background: url(/images/checkNotOk.png) no-repeat scroll center right
    3px;
  background-size: 15px 15px;
}

.background_check_ok_ie {
  background: url(/images/checkOk.png) no-repeat scroll center right;
  background-size: 15px 15px;
}

.background_check_not_ok_ie {
  background: url(/images/checkNotOk.png) no-repeat scroll center right;
  background-size: 15px 15px;
}

.background_select_check_ok {
  background: url(/images/checkOk.png) no-repeat scroll center right 21px;
  background-size: 15px 15px;
}

.background_select_check_not_ok {
  background: url(/images/checkNotOk.png) no-repeat scroll center right
    21px;
  background-size: 15px 15px;
}

.background_select_check_ie7_ok {
  background: url(/images/checkOkSelectIE7.png) no-repeat scroll center
    right;
  background-size: 15px 15px;
}

.background_select_check_ie7_not_ok {
  background: url(/images/checkNotOkSelectIE7.png) no-repeat scroll center
    right;
  background-size: 15px 15px;
}

.display_none {
  display: none;
}

.display_block {
  display: block;
}

table.iban, table.nameOrtKreditInstitutes, table.sepa {
  width: 100%;
}

.nameOrtKreditInstitutesColumn1 {
  width: 50%;
}

.sepaAdresseColumn1, .sepaAdresseColumn2, .sepaAdresseColumn3,
  .sepaAdresseColumn4 {
  width: 25%;
}

.sepaAdresseSubColumn1 {
  width: 30%;
}

.sepaAdresseSubColumn2 {
  width: 70%;
  padding-bottom: 5px;
}

.sepaAdresseLeftTable {
  margin-right: 50px;
}

.gwSelectOneRadio input {
  vertical-align: middle;
}

.gwSelectOneRadio label {
  font-size: small;
  margin-left: 25px;
  width: 775px;
  display: inline-block;
  vertical-align: middle;
}

.gesundheitsFrage {
  margin-top: 15px;
  margin-bottom: 15px;
}

.gesundheitsFragenNummerierung {
  margin-right: 5px;
}

.gesundheitsFragenNummerierungIndented {
	width:100%;
	margin-left:59%;
  margin-right: 6%;
}

.gesundheitsFragenJaNeinCol0 {
  width: 3%;
  vertical-align: top;
  text-align: right;
}

/*Deutsche Antragsfragen brauchen aufgrund unterschiedlicher Buchstabenbreiten fuer Frage 7a-i eine linke ausrichtung*/
.gesundheitsFrage7DJaNeinCol0 {
    width: 8%;
    vertical-align: top;
    text-align: left;
}

.gesundheitsFragenJaNeinCol1 {
    width:72%;
}

.gesundheitsFragenRiskJaNeinCol1 {
  width: 69%;
  vertical-align: top;
}
.gesundheitsFrage7DJaNeinCol1 {
    width: 64%;
    vertical-align: top;
}

.gesundheitsFragenJaNeinCol2 {
  vertical-align: middle;
  width: 20%;
  padding-left: 50px;
}

.gesundheitsFragenJaNeinTable{
 width:51%;
 margin-left:auto;
}

.gesundheitsFragenRiskJaNeinCol2 {
    vertical-align: middle;
    width: 23%;
}

.gesundheitsFrage7DJaNeinCol2 {
    vertical-align: middle;
    width: 23%;
}

.gesundheitsFrage7DJaNeinTable {
    width:51%;
    margin-left:auto;
}

.gesundheitsFragenJaNeinCol2_middle {
  vertical-align: middle;
  width: 20%;
}

.gesundheitsFragenJaNeinCol3 {
    width:5%;
    vertical-align: middle;
    padding-bottom: 5px;
}

.gesundheitsFragenArztJaNeinCol3 {
    width:5%;
    vertical-align: middle;
}

.gesundheitsFrage7DJaNeinCol3 {
	width:5%;
    vertical-align: middle;
    padding-bottom: 4px;
}

.gesundheitsFragenJaNeinCol3_middle {
  width: 4%;
  vertical-align: middle;
  padding-top: 28px;
}

.gesundheitsFragenJaNeinCol0Frage4 {
    width: 3%;
    vertical-align: middle;
    text-align: right;
}

.gesundheitsFragenJaNeinCol1Frage4 {
    width: 96%;
    vertical-align: middle;
}

.gesundheitsFragenJaNeinCol2Frage21{
    vertical-align: middle;
    width: 21%;
    padding-left: 47px;
}

.gesundheitsFragenRiskJaNeinCol2Frage21{
    vertical-align: middle;
    width: 23%;
}

.gesundheitsFragenRiskJaNeinTableFrage21{
    width: 51%;
    margin-left:auto;
}

.gesundheitsFragenRiskJaNeinTableFrage61{
    width: 57.5%;
    margin-left: auto;
    margin-right: 1.7%;
}

.gesundheitsFragenJaNeinLabelCol1 {
  vertical-align: top;
  text-align: right;
}

.gesundheitsFragenJaNeinLabelCol2 {
  vertical-align: top;
  text-align: right;
}

.gesundheitsFragenJaNeinCheckboxCol1 {
  text-align: center;
}

.gesundheitsFragenJaNeinCheckboxCol2 {
  text-align: center;
}

.gesundheitsFragenCheckBoxNein {
  margin-right: 5px;
}

.gesundheitsFragenRadioJaNein {
  width: 100%
}

.gesundheitsFragenRadioJaNein td {
  width: 50%;
  text-align: right;
}

.gesundheitsFragenRadioJaNein td:nth-child(2) {
  padding-right: 10px;
}

.gesundheitsFragenWennJaCol1 {
  width: 20%;
}

.gesundheitsFragenWennJaCol2 {
  width: 80%;
}

.gesundheitsFragenWennJaCol3 {
  width: 37%;
}

.gesundheitsFragenWennJaCol4 {
  width: 63%;
}

.gesundheitsFragenSingleTextInputCol1 {
  width: 75%;
}

.gesundheitsFragenSingleTextInputCol2 {
  padding-left: 40px;
  width: 25%;
}

.gesundheitsFragenKorperGroesseUndGewichtCol1 {
  width: 30%
}

.gesundheitsFragenKorperGroesseUndGewichtCol2 {
  width: 15%
}

.gesundheitsFragenKorperGroesseUndGewichtCol3 {
  width: 55%
}

.gesundheitsFragenFehlsichkeitCol1 {
  width: 40%;
}

.gesundheitsFragenFehlsichkeitCol2 {
  width: 10%;
}

.gesundheitsFragenFehlsichkeitCol3 {
  width: 1.5%;
}

.gesundheitsFragenFehlsichkeitCol4 {
  width: 6.5%;
}

.gesundheitsFragenFehlsichkeitCol5 {
  width: 10%;
}

.gesundheitsFragenFehlsichkeitCol6 {
  width: 2%;
}

.gesundheitsFragenFehlsichkeitCol7 {
  width: 30%;
}

.gesundheitsFragenZusatzDatenSammeln {
    width: 100%;
    height: 21px;
    *height: 16px;
    box-sizing: border-box;
    margin-right: 4px;
}

.gesundheitsFrage9ZusatzDatenSammeln1 {
  box-sizing: border-box;
  height:40px;
}

.gesundheitsFrage9ZusatzDatenSammeln2 {
    box-sizing: border-box;
    height:21px;
}

.liLabel, .reLabel {
  padding-left: 0px;
  margin-left: 4px;
}

.gesundheitsFragenHeading {
  background-color: #D3D3D3;
  width: 100%;
}

.gesundheitsBerufRadioOptionen, .familienstandOptionen,
  .verfuegungsbeschraekungOptionen {
  margin-right: 27px;
  vertical-align: bottom;
}

.familienstandCol1 {
  width: 15.5%;
}

.familienstandCol2 {
  width: 84.5%;
}

.gesundheitsFragenJaNeinCol1Padded {
  width: 71%;
  padding-left: 30px;
}

.gesundheitsFragenInfoTable{
	width:69%;
	margin-left:3%;
}

.gesundheitsFragenInfoTableIndented{
	width:75%;
	margin-left:3%;
}

.gesundheitsFragenInfo{
  margin-left:69px;
  margin-top: 10px;
  width:69.2%;
}

.gesundheitsFragenInfoCol1 {
    width:5%;
}

.gesundheitsFragenRiskInfoCol1 {
  width: 45%;
}


.gesundheitsFrage7DInfoCol1 {
    padding-left: 67px;
    width: 30%;
}

.gesundheitsFrage10DInfoCol1 {
    width:97%;
}

.gesundheitsFragenInfoCol2 {
    width:63%;
}

.gesundheitsFragenRiskInfoCol2 {
  text-align:right;
}

.gesundheitsFrage10DInfoCol2 {
    width:3%;
    vertical-align:middle;
}

.gesundheitsFragenInfoCol3 {
    width:32%;
}

.gesundheitsFrage9DRiskInfoCol1 {
    width: 35%;
    vertical-align:top;
}

.gesundheitsFrage9DRiskInfoCol2 {
	width:78%;
	float: right;
}

.gesundheitsFragenZeCol1 {
  vertical-align: top;
  width: 2%;
}

.gesundheitsFragenZeCol2 {
  width: 59%;
}

.gesundheitsFragenHorInfoCol1 {
  vertical-align: top;
  width: 20%;
}

.gesundheitsFragenHorInfoCol2 {
  width: 80%;
}

.gesundheitsFragenHinweisCol1 {
  width: 20%;
}

.gesundheitsFragenHinweisCol2 {
  width: 80%;
}
.gesundheitsFragenErkrankungFrage7D{
  width:85.5%;
  padding-left:5.5%;
}
.gesundheitsFragenErkrankungenCol1 {
  width: 5%;
}

.gesundheitsFragenErkrankungenCol2 {
  width: 95%;
}

.gesundheitsFragenErkrankungenCol3 {
}

.gesundheitsFragenErkrankungenCol4 {
  text-align:right;
  width:110px;
}

.gesundheitsFragenErkrankungenJaNeinLabelCol1 {
  margin-right:5px;
}

.gesundheitsFragenErkrankungenJaNeinLabelCol2 {
    margin-right:5px;
}

.gesundheitsFragenErkrankungenJaNeinCheckboxCol1 {
    margin-right:12px;
}

.gesundheitsFragenErkrankungsZusatz{
    margin-left:8%;
    width:64%;
    margin-top:10px;
}

.gesundheitsFragen7DErkrankungsZusatz{
    margin-left:9%;
    width:69%;
    margin-top:10px;
}

.gesundheitsFragen10DErkrankungsZusatz{
    width:97%;
    margin-top:10px;
}

.gesundheitsFragen11DErkrankungsZusatz{
    width:67.5%;
    margin-top:10px;
    margin-left:8%;
}

.gesundheitsFragenErkrankungHinweistextColumn1 {
  width: 5%;
  vertical-align: top;
}

.gesundheitsFragenErkrankungHinweistextColumn2 {
  width: 95%;
}

.erkrankungSuggestion {
  border-style: none !important;
}

.ui-autocomplete-table {
  border-style: none;
}

[data-item-class="erkrankungSuggestion"] {
  border-style: none;
}

.erkrankungSuggestionHeader {
  border-bottom: 0px !important;
  pointer-events: none;
  user-select: none;
}

.erkrankungSuggestionFooter {
  border-top: 0px !important;
  border-bottom: 3px #000000 solid !important;
}

.erkrankungSuggestionItem {
  border-bottom: 2px #DDDDDD solid !important;
}

.antragWeiterBefüllenCol1, .antragSofortDruckenCol1 {
  text-align: center;
}

.antragWeiterBefüllenCol2 {
  padding-left: 20px;
  color: #666
}

.stageCircleAndTextCol1 {
  text-align: center;
  font-weight: bold;
  color: gray;
}

.stageCircleCol1, .stageCircleCol3, .stageCircleCol5, .stageCircleCol7 {
  width: 40px;
}

.stageCircleCol2, .stageCircleCol4, .stageCircleCol6 {
  height: 20px;
  width: 140px;
  padding-bottom: 15px;
}

.grayline {
  border-top: 1px solid gray;
}

.personenDatenLegendCol1, .personenDatenLegendCol2,
  .personenDatenLegendCol3 {
  width: 33%
}

.personenDatenDivCol1 {
  float: left;
  width: 172px;
  padding: 2px 0;
}

.personenDatenDivCol3 {
  float: left;
  width: 350px;
  padding: 2px 0;
}

.antragDruckBereichTextCol1 {
  padding-bottom: 14px;
  padding-left: 0px;
  *padding-left: 20px;
}

.schweigepflichtCol1 {
  width: 2%;
  vertical-align: top;
}

.schweigepflichtCol2 {
  width: 98%;
}

.infoHinweisBaufi {
  text-align: left;
  font-size: small;
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
  border-color: #ff6e4b;
  margin-bottom: 19px;
  width: 98%;
  padding: 8px
}

.infoGesundheitsFragenKeinPlatzMehrText {
  text-align: left;
  font-size: small;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(247, 148, 29);
  margin-bottom: 19px;
}

.infoBagatellErkrankungen {
  text-align: left;
  font-size: small;
  text-decoration: none;
  border: solid 2px #ff6e4b;
  margin-bottom: 19px;
  margin-top: 19px;
  width: 95%;
  padding: 10px
}

.infoGesundheitsFragenTable {
  width: 100%;
}

.infoGesundheitsFrage7DVTable {
    width: 100%;
}

.linkgrayGesundheitsFragen {
  color: gray;
}

.linkgrayGesundheitsFragen a {
  color: blue;
}

.labelPersonenDaten {
  font-size: small;
}

.selectPersonenDaten {
  width: 100%;
  *width: 101%;
  height: 22px;
  box-sizing: border-box;
}

.selectPersonenDatenNeu {
  width: 150px;
  *width: 101%;
  height: 22px;
  box-sizing: border-box;
  margin-right: 4px;
}

.selectPersonenDatenNeuLang {
  width: 335px;
  *width: 101%;
  height: 22px;
  box-sizing: border-box;
  margin-right: 4px;
}

.inputPersonenDaten {
  width: 100%;
  height: 22px;
  *height: 16px;
  box-sizing: border-box;
}

.inputPersonenDatenGray {
    color: #808080;
    width: 100%;
    height: 22px;
    *height: 16px;
    box-sizing: border-box;
}

.inputareaPersonenDaten {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
}

.inputPersonenDatenGray {
  color: #808080;
  width: 100%;
  height: 22px;
  *height: 16px;
  box-sizing: border-box;
}

.inputPersonenDatenShort {
  width: 150px;
  height: 22px;
  *height: 16px;
  box-sizing: border-box;
  margin-right: 4px;
}

.inputPersonenDatenLong {
  width: 335px;
  height: 22px;
  *height: 16px;
  box-sizing: border-box;
  margin-right: 4px;
}

.inputPersonenDatenVermittler1 {
  width: 45px;
  height: 22px;
  *height: 16px;
  box-sizing: border-box;
}

.inputPersonenDatenVermittler2 {
  width: 70px;
  height: 22px;
  *height: 16px;
  box-sizing: border-box;
  margin-right: 4px;
}

.antragStellerCol1 {
  width: 8%;
}

.antragStellerCol2 {
  width: 27%;
}

.antragStellerCol3 {
  width: 7.8%;
}

.antragStellerCol4 {
  width: 16%;
}

.antragStellerCol5 {
  width: 27%;
}

.antragStellerCol6 {
  width: 7%;
}


.vermittlerCol2 {
  width: 29.5%;
}

.vermittlerCol3 {
  width: 7.5%;
}

.vermittlerCol4 {
  width: 16%;
}

.vermittlerCol5 {
  width: 27%;
}

.vermittlerCol6 {
  width: 7%;
}

.vermittlerCol7 {
  width: 20%;
}

.vermittlerCol8 {
  width: 5%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  *text-align: left;
  padding-left: 0px;
  *padding-left: 6px;
}

.vermittlerCol9 {
  width: 75%;
}

.vpGeneralInfoCol1 {
  width: 6%;
}

.vpGeneralInfoCol2 {
  width: 29%;
}

.vpGeneralInfoCol3 {
  width: 7.8%;
}

.vpGeneralInfoCol4 {
  width: 16.3%;
}

.vpGeneralInfoCol5 {
  width: 27.9%;
}

.vpGeneralInfoCol6 {
  width: 5.5%;
}

.gwCheckColumn1 {
  width: 3%;
}

.gwCheckColumn2 {
  width: 97%;
}

.gwColumn1 {
  width: 34.8%;
}

.gwColumn2 {
  width: 58.2%;
}

.gwColumn3 {
  width: 8%;
}

.gwColumn4 {
  width: 34%;
}

.gwColumn5 {
  width: 7%;
}

.gwColumn6 {
  width: 25%;
}

.gwColumn7 {
  width: 34%;
}

.gwColumn1_indent {
  width: 38%;
}

.gwColumn2_indent {
  width: 58.2%;
}

.gwColumn3_indent {
  width: 3.8%;
}

.gwColumn4_indent {
  width: 34%;
}

.gwColumn5_indent {
  width: 7%;
}

.gwColumn6_indent {
  width: 25%;
}

.gwColumn7_indent {
  width: 34%;
}

.ausweisColumn1 {
  width: 63%;
}

.ausweisColumn2 {
  width: 45%;
}

.ausweisColumn3 {
  width: 31.2%;
}

.ausweisColumn4 {
  width: 65%;
}

.ausweisColumn5 {
  width: 6%;
}

.ausweisColumn1_indent {
  width: 63%;
}

.ausweisColumn2_indent {
  width: 45%;
}

.ausweisColumn3_indent {
  width: 30%;
}

.ausweisColumn4_indent {
  width: 67%;
}

.ausweisColumn5_indent {
  width: 6%;
}

.ausweisColumn6 {
  width: 12%;
}

.ausweisColumn7 {
  width: 88%;
}

.ausweisColumn6_indent {
  width: 9%;
}

.ausweisColumn7_indent {
  width: 91%;
}

.sepaColumn1 {
  width: 65%;
}

.sepaColumn2 {
  width: 35%;
}

.sepaColumn1_indent {
  width: 65%;
}

.sepaColumn2_indent {
  width: 35%;
}

.sepaImageCol3 {
  width: 26.5%
}

.sepaImageCol4 {
  width: 73.5%;
}

.sepaImageCol3_indent {
  width: 18%
}

.sepaImageCol4_indent {
  width: 82%;
}

.ibanColumn1 {
  width: 27.7%;
}

.ibanColumn2 {
  width: 62.7%;
}

.ibanColumn3 {
  width: 9.6%;
}

.ibanColumn1_indent {
  width: 26.5%;
}

.ibanColumn2_indent {
  width: 64%;
}

.ibanColumn3_indent {
  width: 9.5%;
}

.bezugsrechtCol1 {
  width: 30%;
}

.bezugsrechtCol2 {
  padding-left: 25px;
  width: 70%;
  vertical-align: top;
}

.bezugsrechtCol3 {

}

.bezugsrechtCol4 {
  width: 89%;
}

.bezugsrechtCol5 {
  width: 11%;
}

.bezugsrechtCol4_indent {
  width: 93.5%;
}

.bezugsrechtCol5_indent {
  width: 6.5%;
}

.bezugsrechtCol6 {
  width: 93%;
}

.bezugsrechtCol7 {
  width: 7%;
}

.bezugsrechtCol6_indent {
  width: 96%;
}

.bezugsrechtCol7_indent {
  width: 4%;
}

.bestehenBerufCol1 {
  width: 5%;
}

.bestehenBerufCol2 {
  width: 20%;
}

.bestehenBerufCol3 {
  width: 10%;
}

.bestehenBerufCol4 {
  width: 65%;
}

.bestehenBerufCol1A {
  width: 5%;
}

.bestehenBerufRiskCol1A {
    width: 3%;
}

.bestehenBerufCol2A {
  width: 20%;
}

.bestehenBerufRiskCol2A {
    width: 24%;
    vertical-align:top;
}

.bestehenBerufCol3A {
  width: 10%;
}

.bestehenBerufRiskCol3A {
    width: 48.4%;
}

.bestehenBerufCol4A {
  width: 65%;
}

.bestehenBerufRiskCol4A {
    width: 24.6%;
}

.gstBruttoCol1 {
  width: 5%;
}

.gstBruttoCol2 {
  width: 20%;
}

.gstBruttoCol3 {
  width: 10%;
}

.gstBruttoCol4 {
  width: 65%;
}

.gesamtbruttoeinnahmenCol1 {
  width: 5%;
}

.gesamtbruttoeinnahmenCol2 {
  width: 20%;
}

.gesamtbruttoeinnahmenCol3 {
  width: 34.5%;
}

.gesamtbruttoeinnahmenCol4 {
  width: 40.5%;
}

.gesamtbruttoeinnahmenCol1A {
  width: 5%;
}

.gesamtbruttoeinnahmenRiskCol1A {
    width: 3%;
}

.gesamtbruttoeinnahmenCol2A {
  width: 20%;
}

.gesamtbruttoeinnahmenRiskCol2A {
    width: 36%;
}

.gesamtbruttoeinnahmenCol3A {
  width: 25%;
}

.gesamtbruttoeinnahmenRiskCol3A {
    width: 20%;
}

.gesamtbruttoeinnahmenCol4A {
  width: 50%;
}

.gesamtbruttoeinnahmenRiskCol4A {
    width: 5%;
    text-align:center;
}

.gesamtbruttoeinnahmenRiskCol5A {
    width: 36%;
}

.gesamtbruttoeinnahmenTextCol1 {
  width: 72.5%;
}

.gesamtbruttoeinnahmenRiskTextCol1 {
  width: 61%;
}

.gesamtbruttoeinnahmenTextCol2 {
  width: 24.5%;
}

.vollzeitmitarbeiterCol1 {
  width: 5%;
}

.vollzeitmitarbeiterRiskCol1 {
    width: 3%;
}

.vollzeitmitarbeiterCol2 {
  width: 10%;
}

.vollzeitmitarbeiterRiskCol2 {
    width: 7%;
}

.vollzeitmitarbeiterCol3 {
  width: 2%;
}

.vollzeitmitarbeiterRiskCol3 {
    width: 14%;
}

.vollzeitmitarbeiterCol4 {
  width: 83%;
}

.vollzeitmitarbeiterRiskCol4 {
    width: 9%;
}

.vollzeitmitarbeiterRiskCol5 {
    width: 67%;
}

.vollzeitmitarbeiterTextCol0{
    width: 3.3%;
    vertical-align: top;
    text-align: right;
}

.vollzeitmitarbeiterTextCol1 {
  width: 75%;
}

.vollzeitmitarbeiterTextCol2 {
  width: 25%;
}

.gesundheitsFragenJaNeinCol1Fachrichtung{
    width:3%;
    text-align:right;
    vertical-align:middle;
}

.fachrichtungCol1 {
    width: 3%;
}

.fachrichtungCol2 {
    width: 18%;
}

.fachrichtungCol3 {
    width: 45%;
}

.fachrichtungCol4 {
    width: 34%;
}

.stoerer {
  display: inline-block;
  margin-left: 10px;
  background-color: #EF3A00;
  color: white;
  font-weight: bold;
  font-family: initial;
  font-size: 11px;
  padding-right: 8px;
  padding-left: 8px;
  transform-origin: left top 0;
  transform: skewY(170deg);
}

.stoerer_tarif1 {
  display: inline-block;
  background-color: #EF3A00;
  color: white;
  font-weight: bold;
  font-family: initial;
  font-size: 11px;
  padding-right: 8px;
  padding-left: 8px;
  transform-origin: 3em;
  transform: skewY(170deg);
}

.stoerer_tarif2 {
  display: inline-block;
  margin-left: 0;
  margin-top: 7px;
  margin-bottom: -10px;
  *margin-bottom: 0px;
  background-color: #EF3A00;
  color: white;
  font-weight: bold;
  font-family: initial;
  font-size: 11px;
  padding-right: 8px;
  padding-left: 8px;
  transform-origin: left top 0;
  transform: skewY(170deg);
}

.stoerer_tarif3 {
  display: inline-block;
  margin-left: -90px;
  *margin-left: 0px;
  margin-top: 25px;
  *margin-top: 70px;
  background-color: #EF3A00;
  color: white;
  font-weight: bold;
  font-family: initial;
  font-size: 11px;
  padding-right: 8px;
  padding-left: 8px;
  transform-origin: left top 0;
  transform: skewY(170deg);
}

.stoerer_tarif1_au {
  display: inline-block;
  margin-left: 0px;
  *margin-left: 0px;
  margin-bottom: -18px;
  *margin-bottom: 0px;
  margin-top: 18px;
  *margin-top: 21px;
  background-color: #EF3A00;
  color: white;
  font-weight: bold;
  font-family: initial;
  font-size: 11px;
  padding-right: 8px;
  padding-left: 8px;
  transform-origin: left top 0;
  transform: skewY(170deg);
}

.stoererDD {
	width: 170%; 
	height: 1.7em; 
	background: #ff6e4b; 
	color:white; 
	font-size:1.0em; 
	font-weight: bold; 
	text-align: center;
	text-transform: uppercase;
}

.kombiniert_mit_vitality {
  vertical-align: middle;
  width: 70px;
  height: 20px;
  float:left;
}

.kombiniert_mit_disabled {
  opacity: 0.4;
}

.tableVersorgung td {
  padding-right: 110px;
  font-family: sans-serif;
  font-size: small;
}

.tarifColum2 {
  vertical-align: top;
}

.navButton {
	height:2em; 
	width: 6.5em;
	border-radius: 0.5em;
	border-style: none;
	background-color: lightgrey;
}

.navButtonFragen {
	width: 14em;
	background-color: #ff6e4b;
	color: white;
}

.vitMitglied {
	float: left;
	margin-right: 5em;
	color: #c5281c;
	font-weight: bold;
}
.ui-input-invalid {
	border-color: red !important;
}

.display-validation-errors input:invalid, 
.display-validation-errors select:invalid, 
.display-validation-errors textarea:invalid { 
	border: 2px solid red !important; 
}

.display-validation-errors .checkbox-is-invalid input[type=checkbox] { outline: 2px solid red !important; }
.display-validation-errors .checkbox-is-invalid input[type=checkbox]:checked { outline: 0 !important; }

.raucherStat {
	border: 1px grey solid;
	background-color: #F5F5F5;
	margin-right: 0.7em;
	padding: 0.1em;
}
