---
layout: default
amp-fx-collection: true
styles:
- home.scss
- blog.scss

---

<main role="main" class="page container">
  <header class="page-header">
    <h1>{{ page.title }}</h1>
    <p>{{ page.subtitle }}</p>

    {% assign cta_text= "Get in Touch" %}
    {% include cta-button.html %}
  </header>

  <section id="features">
    <div class="wrap">
      <div>
        <amp-img src="{{ 'assets/Robotter/SEARCH.svg' | relative_url }}"
                 width="96" height="96" layout="intrinsic"
                 alt="SEARCH.svg">
          <div placeholder style="background: transparent"></div>
        </amp-img>

        <h3>Crisp Data</h3>
        <p>We provide high-quality data from many sources. No matter if you are looking for market data from Binance,
          Coinbase, Kraken: we got you covered. Enhance your predictions by incorporating on-chain data, like
          transaction costs and exchange in-/outflow, as well as social metrics derived from Twitter activity or Google
          search interest.</p>
      </div>
      <div>
        <amp-img src="{{ 'assets/Robotter/PREMIUM-QUALITY.svg' | relative_url }}"
                 width="96" height="96" layout="intrinsic"
                 alt="PREMIUM-QUALITY.svg">
          <div placeholder style="background: transparent"></div>
        </amp-img>

        <h3>Visual Patterns</h3>
        <p>We believe that finding market patterns requires a strong visual approach and therefore focus on
          easy-to-compose graphs of selected metrics. A preview of the most recent data is presented for every selected
          timeseries and added to the graph of selected metrics. Find patterns, before you train your model.</p>
      </div>
      <div>
        <amp-img src="{{ 'assets/Robotter/SOLUTIONS.svg' | relative_url }}"
                 width="96" height="96" layout="intrinsic"
                 alt="SOLUTIONS.svg">
          <div placeholder style="background: transparent"></div>
        </amp-img>

        <h3>Infinite Alpha</h3>
        <p>Combine data in multitudes of ways to guide our algorithms in search of patterns. Prepare our data in
          pre-specified ways or wire up your own data transformations according to your own needs. Choose from an
          extensive, ever expanding library of Machine- and Deep Learning algorithms. Use recommended parameters or tune
          your algorithm to your dataset. </p>
      </div>
    </div>

  </section>
  <section id="app">
    <div class="splashes">
      <div>
        <amp-img src="{{ 'assets/Robotter/Curve3.png' | relative_url }}" width="1015" height="1118"
                 style="right: 0; top: -250px" class="splash" layout="intrinsic"
                 amp-fx="parallax" data-parallax-factor="0"
                 alt="Curve3.png">
          <div placeholder style="background: transparent"></div>
          <amp-img src="{{ 'assets/Robotter/Background3.png' | relative_url }}" width="1015" height="1118"
                   style="top: -250px" class="splash" layout="intrinsic"
                   amp-fx="parallax" data-parallax-factor="0.75"
                   alt="Background3.png">
            <div placeholder style="background: transparent"></div>
          </amp-img>
        </amp-img>
        <amp-img src="{{ 'assets/Robotter/Concept-Mockup.png' | relative_url }}" width="784" height="580"
                 style="right: 0" class="splash" layout="intrinsic"
                 amp-fx="parallax" data-parallax-factor="0"
                 alt="Concept-Mockup.png">
          <div placeholder style="background: transparent"></div>
        </amp-img>
      </div>
    </div>


  <section class="video">
    <h2>So geht Vertragswechsel heute</h2>
  </section>

  <section class="one-place">
      <amp-img src="{{ 'assets/WechselGott/Circles.png' | relative_url }}"
               width="928" height="928"
               class="splash" layout="intrinsic"
               alt="Circles.png">
        <div placeholder style="background: transparent"></div>
        <amp-img src="{{ 'assets/WechselGott/Phone1.png' | relative_url }}"
                 width="525" height="600"
                 layout="intrinsic"
                 style="top: 8.6%; right: 10%;width: 56.6%;"
                 alt="Phone1.png">
          <div placeholder style="background: transparent"></div>
        </amp-img>
        <amp-img src="{{ 'assets/WechselGott/Phone2.png' | relative_url }}"
                 width="572" height="567"
                 layout="intrinsic"
                 style="bottom: 0; left: 3%; width: 61.6%;"
                 alt="Phone2.png">
          <div placeholder style="background: transparent"></div>
        </amp-img>

      </amp-img>

    <h4>Vereine all Deine Konten und Verträge am selben Ort.</h4>
    {% include cta-button.html %}

  </section>

  {{ content }}
</main>
{% include splashes.html %}

<div class="splashes">
  <amp-img src="{{ 'assets/Robotter/Curve1.png' | relative_url }}" width="632" height="898"
           style="top: 0" class="splash" layout="intrinsic"
           amp-fx="parallax" data-parallax-factor="0"
           alt="Curve1.png">
    <div placeholder style="background: transparent"></div>
    <amp-img src="{{ 'assets/Robotter/Background1.png' | relative_url }}" width="632" height="898"
             class="splash" layout="intrinsic"
             amp-fx="parallax" data-parallax-factor="0.75"
             alt="Background1.png">
      <div placeholder style="background: transparent"></div>
    </amp-img>
  </amp-img>

  <amp-img src="{{ 'assets/Robotter/Curve2.png' | relative_url }}" width="632" height="898"
           style="top: 0; right: 64px" class="splash" layout="intrinsic"
           amp-fx="parallax" data-parallax-factor="0"
           alt="Curve2.png">
    <div placeholder style="background: transparent"></div>
    <amp-img src="{{ 'assets/Robotter/Background2.png' | relative_url }}" width="632" height="898"
             class="splash" layout="intrinsic"
             amp-fx="parallax" data-parallax-factor="0.75"
             alt="Background2.png">
      <div placeholder style="background: transparent"></div>
    </amp-img>
  </amp-img>

</div>