---
layout: default
amp-fx-collection: true
styles:
- home.scss

---

<main role="main" class="page container">
  <header class="page-header">
    <h1>{{ page.title }}</h1>
    <p>{{ page.subtitle }}</p>

    {% assign cta_text= "To The Docs" %}
    {% assign cta_href= "#ressources" %}
    {% include cta-button.html %}

    <div class="splashes">
      <amp-img src="{{ 'assets/Robotter/Curve2.png' | relative_url }}" width="632" height="898"
               style="margin-top: -20vw; position: relative" class="splash" layout="intrinsic"
               amp-fx="parallax" data-parallax-factor="0"
               alt="Curve2.png" media="(max-width: {{site.style.container-max-width}})">
        <div placeholder style="background: transparent"></div>
        <amp-img src="{{ 'assets/Robotter/Background2.png' | relative_url }}" width="632" height="898"
                 class="splash" layout="intrinsic"
                 amp-fx="parallax" data-parallax-factor="0.75"
                 alt="Background2.png">
          <div placeholder style="background: transparent"></div>
        </amp-img>
      </amp-img>
    </div>
  </header>

  <section id="features">
    <div class="wrap">
      <div>
        <amp-img src="{{ 'assets/Robotter/PREMIUM-QUALITY.png' | relative_url }}"
                 width="96" height="96" layout="intrinsic"
                 alt="PREMIUM-QUALITY">
          <div placeholder style="background: transparent"></div>
        </amp-img>

        <h3>Crisp Data</h3>
        <p>We provide high-quality data from many sources. No matter if you are looking for market data from Binance,
          Coinbase, Kraken: we got you covered. Enhance your predictions by incorporating on-chain data, like
          transaction costs and exchange in-/outflow, as well as social metrics derived from Twitter activity or Google
          search interest.</p>
      </div>
      <div>
        <amp-img src="{{ 'assets/Robotter/SEARCH.png' | relative_url }}"
                 width="96" height="96" layout="intrinsic"
                 alt="SEARCH">
          <div placeholder style="background: transparent"></div>
        </amp-img>

        <h3>Visual Patterns</h3>
        <p>We believe that finding market patterns requires a strong visual approach and therefore focus on
          easy-to-compose graphs of selected metrics. A preview of the most recent data is presented for every selected
          timeseries and added to the graph of selected metrics. Find patterns, before you train your model.</p>
      </div>
      <div>
        <amp-img src="{{ 'assets/Robotter/SOLUTIONS.png' | relative_url }}"
                 width="96" height="96" layout="intrinsic"
                 alt="SOLUTIONS">
          <div placeholder style="background: transparent"></div>
        </amp-img>

        <h3>Infinite Alpha</h3>
        <p>Combine data in multitudes of ways to guide our algorithms in search of patterns. Prepare our data in
          pre-specified ways or wire up your own data transformations according to your own needs. Choose from an
          extensive, ever expanding library of Machine- and Deep Learning algorithms. Use recommended parameters or tune
          your algorithm to your dataset. </p>
      </div>
    </div>

  </section>
  <section id="app">
    <div class="splashes">
        <amp-img src="{{ 'assets/Robotter/Curve3.png' | relative_url }}" width="1015" height="1118"
                 style="" class="splash" layout="intrinsic"
                 amp-fx="parallax" data-parallax-factor="0"
                 alt="Curve3.png">
          <div placeholder style="background: transparent"></div>
          <amp-img src="{{ 'assets/Robotter/Background3.png' | relative_url }}" width="1015" height="1118"
                   style="top: -150px" class="splash" layout="intrinsic"
                   amp-fx="parallax" data-parallax-factor="0.75"
                   alt="Background3.png">
            <div placeholder style="background: transparent"></div>
          </amp-img>
        </amp-img>
        <amp-img src="{{ 'assets/Robotter/Concept-Mockup.png' | relative_url }}" width="784" height="580"
                 style="max-width: 77%;" class="splash" layout="intrinsic"
                 amp-fx="parallax" data-parallax-factor="0"
                 alt="Concept-Mockup.png">
          <div placeholder style="background: transparent"></div>
        </amp-img>
    </div>

    <div class="text">
      <h2>Using AI has never been easier. Generate unique alpha and profit.</h2>
      <p>By training your customized model you choose which coins to trade and which risks you take. Publish predictions
        for cash and measure your performance with others. Become your own quant fund manager.</p>
    </div>
  </section>

  <section id="roadmap">
    <h2>Roadmap</h2>
    <p>We need to do a lot. Follow us on our journey.</p>

    <div class="wrap">
      <div class="item">
        <amp-img src="{{ 'assets/Robotter/Step1.svg' | relative_url }}"
                 width="214" height="24"
                 class="splash" layout="responsive"
                 amp-fx="parallax" data-parallax-factor="0"
                 media="(min-width: {{site.style.container-max-width}})"
                 alt="Step1">
          <div placeholder style="background: transparent"></div>
        </amp-img>
        <amp-img src="{{ 'assets/Robotter/Step1M.svg' | relative_url }}"
                 width="24" height="138"
                 class="splash" layout="responsive"
                 amp-fx="parallax" data-parallax-factor="0"
                 media="(max-width: {{site.style.container-max-width}})"
                 alt="Step1M">
          <div placeholder style="background: transparent"></div>
        </amp-img>
        <div>
          <h3>Q4 21</h3>
          <ul>
            <li>Finalize Whitepaper</li>
            <li>PoC as ML-driven Mango market maker</li>
          </ul>
        </div>
      </div>
      <div class="item">
        <amp-img src="{{ 'assets/Robotter/Step2.svg' | relative_url }}"
                 width="214" height="24"
                 class="splash" layout="responsive"
                 amp-fx="parallax" data-parallax-factor="0"
                 media="(min-width: {{site.style.container-max-width}})"
                 alt="Step2">
          <div placeholder style="background: transparent"></div>
        </amp-img>
        <amp-img src="{{ 'assets/Robotter/Step2M.svg' | relative_url }}"
                 width="24" height="138"
                 class="splash" layout="responsive"
                 amp-fx="parallax" data-parallax-factor="0"
                 media="(max-width: {{site.style.container-max-width}})"
                 alt="Step2M">
          <div placeholder style="background: transparent"></div>
        </amp-img>
        <div>
          <h3>Q1 22</h3>
          <ol>
            <li>Robotter IDE</li>
            <li>Save and compare ML models</li>
            <li>Pay with SOL</li>
          </ol>
        </div>
      </div>
      <div class="item">
        <amp-img src="{{ 'assets/Robotter/Step3.svg' | relative_url }}"
                 width="214" height="24"
                 class="splash" layout="responsive"
                 amp-fx="parallax" data-parallax-factor="0"
                 media="(min-width: {{site.style.container-max-width}})"
                 alt="Step3">
          <div placeholder style="background: transparent"></div>
        </amp-img>
        <amp-img src="{{ 'assets/Robotter/Step3M.svg' | relative_url }}"
                 width="24" height="138"
                 class="splash" layout="responsive"
                 amp-fx="parallax" data-parallax-factor="0"
                 media="(max-width: {{site.style.container-max-width}})"
                 alt="Step3M">
          <div placeholder style="background: transparent"></div>
        </amp-img>
        <div>
          <h3>Q2 22</h3>
          <p>Deploy and manage trading bots</p>
        </div>
      </div>
      <div class="item">
        <amp-img src="{{ 'assets/Robotter/Step4.svg' | relative_url }}"
                 width="214" height="24"
                 class="splash" layout="responsive"
                 amp-fx="parallax" data-parallax-factor="0"
                 media="(min-width: {{site.style.container-max-width}})"
                 alt="Step4">
          <div placeholder style="background: transparent"></div>
        </amp-img>
        <amp-img src="{{ 'assets/Robotter/Step4M.svg' | relative_url }}"
                 width="24" height="138"
                 class="splash" layout="responsive"
                 amp-fx="parallax" data-parallax-factor="0"
                 media="(max-width: {{site.style.container-max-width}})"
                 alt="Step4M">
          <div placeholder style="background: transparent"></div>
        </amp-img>
        <div>
          <h3>Q3 22</h3>
          <ol>
            <a href="https://yourtrading-ai.gitbook.io/docs/rob-token/tokenomics-whitepaper">
              <li>
              ROB Token launch</li>
            </a>
            <li>Pay with and stake ROB</li>
            <li>Public bot funds</li>
          </ol>
        </div>
      </div>
      <div class="item">
        <amp-img src="{{ 'assets/Robotter/Step5.svg' | relative_url }}"
                 width="214" height="24"
                 class="splash" layout="responsive"
                 amp-fx="parallax" data-parallax-factor="0"
                 media="(min-width: {{site.style.container-max-width}})"
                 alt="Step5">
          <div placeholder style="background: transparent"></div>
        </amp-img>
        <amp-img src="{{ 'assets/Robotter/Step5M.svg' | relative_url }}"
                 width="24" height="138"
                 class="splash" layout="responsive"
                 amp-fx="parallax" data-parallax-factor="0"
                 media="(max-width: {{site.style.container-max-width}})"
                 alt="Step5M">
          <div placeholder style="background: transparent"></div>
        </amp-img>
        <div>
          <h3>Q4 22</h3>
          <ol>
            <li>Data Switchboards</li>
            <li>Premium features</li>
          </ol>
        </div>
      </div>
    </div>

  </section>

  <section id="ressources">
    <div class="splashes">
      <amp-img src="{{ 'assets/Robotter/Curve4.png' | relative_url }}" width="496" height="656"
               style="top: -100px; left: 0" class="splash" layout="intrinsic"
               amp-fx="parallax" data-parallax-factor="0"
               alt="Curve4.png">
        <div placeholder style="background: transparent"></div>
        <amp-img src="{{ 'assets/Robotter/Background4.png' | relative_url }}" width="496" height="656"
                 style="top: -100px" class="splash" layout="intrinsic"
                 amp-fx="parallax" data-parallax-factor="0.75"
                 alt="Background4.png">
          <div placeholder style="background: transparent"></div>
        </amp-img>
      </amp-img>
    </div>
    <div class="text">
      <h2>Ressources</h2>
      <p>If you want to know more, take a look at our GitBook and Whitepaper. Contribute on GitHub.</p>
      <ul>
        <li><a href="https://yourtrading-ai.github.io/yourtraiding-ai-FrontEnd/">Demo</a></li>
        <li><a href="https://yourtrading-ai.gitbook.io/">Whitepaper</a></li>
        <li><a href="https://github.com/yourtrading-ai">GitHub Repo</a></li>
      </ul>
    </div>
  </section>

  <section id="contact">
    <h2>Leave us a Message</h2>
    <div class="wrap">
      <div class="item">
        <p>We’re always looking for bright minds and partnerships. Contributors welcome.</p>
      </div>
      <div class="item">
        <a href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a>
      </div>
    </div>
  </section>

  {{ content }}
</main>
{% include splashes.html %}

<div class="splashes">
  <amp-img src="{{ 'assets/Robotter/Curve1.png' | relative_url }}" width="632" height="898"
           style="top: 0" class="splash" layout="intrinsic"
           amp-fx="parallax" data-parallax-factor="0"
           alt="Curve1.png">
    <div placeholder style="background: transparent"></div>
    <amp-img src="{{ 'assets/Robotter/Background1.png' | relative_url }}" width="632" height="898"
             class="splash" layout="intrinsic"
             amp-fx="parallax" data-parallax-factor="0.75"
             alt="Background1.png">
      <div placeholder style="background: transparent"></div>
    </amp-img>
  </amp-img>

  <amp-img src="{{ 'assets/Robotter/Curve2.png' | relative_url }}" width="632" height="898"
           style="top: 0; right: 64px" class="splash" layout="intrinsic"
           amp-fx="parallax" data-parallax-factor="0"
           alt="Curve2.png" media="(min-width: {{site.style.container-max-width}})">
    <div placeholder style="background: transparent"></div>
    <amp-img src="{{ 'assets/Robotter/Background2.png' | relative_url }}" width="632" height="898"
             class="splash" layout="intrinsic"
             amp-fx="parallax" data-parallax-factor="0.75"
             alt="Background2.png">
      <div placeholder style="background: transparent"></div>
    </amp-img>
  </amp-img>

  <amp-img src="{{ 'assets/Robotter/Curve5.png' | relative_url }}" width="1600" height="400"
           style="bottom: 0; right: 0; left: 0" class="splash" layout="responsive"
           amp-fx="parallax" data-parallax-factor="0"
           alt="Curve5.png" media="(min-width: 580px">
    <div placeholder style="background: transparent"></div>
    <amp-img src="{{ 'assets/Robotter/Background5.png' | relative_url }}" width="1600" height="550"
             class="splash" layout="responsive"
             style="width: 100%; top: -120px;"
             amp-fx="parallax" data-parallax-factor="0.75"
             alt="Background5.png">
      <div placeholder style="background: transparent"></div>
  </amp-img>

</div>