---
layout: default
styles:
- versicherungen.scss
splashes:
- src: assets/WechselGott/Ellipse1592.svg
  width: 495
  height: 495
  style: "position: absolute;left: -32px;top: 166px;"
- src: assets/WechselGott/Ellipse1612.svg
  width: 800
  height: 800
  style: "position: absolute;right: 0;top: 343px;"

---

<main role="main" class="page container">
  <header class="page-header">
    <h1>{{ page.title }}</h1>
    <h3>{{ page.subtitle }}</h3>

    {% assign cta_text = "Termin vereinbaren!" %}
    {% assign cta_href = "https://calendly.com/christina-lutz-1" %}
    {% include cta-button.html %}
  </header>

  <section class="testimonials">
    <div class="relative">
      <div class="card">
        <amp-img src="{{ 'assets/WechselGott/versicherungen_Eva36.png' | relative_url }}"
                 width="64" height="64"
                 layout="intrinsic"
                 alt="versicherungen_Eva36">
        </amp-img>
        <h4>Eva 36, Hannover
          <br>
          ⭐ ⭐ ⭐ ⭐ ⭐</h4>
        <p>Das Gespräch mit einem der WechselGott-Berater hat mir in einigen Punkten die Augen geöffnet und ich fühle
          mich jetzt besser abgesichert und weiß, dass ich mich bei Fragen jederzeit bei meinem Ansprechpartner melden
          kann.</p>
      </div>
      <div class="card">
        <amp-img src="{{ 'assets/WechselGott/versicherungen_Uwe47.png' | relative_url }}"
                 width="64" height="64"
                 layout="intrinsic"
                 alt="versicherungen_Uwe47">
        </amp-img>
        <h4>Uwe 47, Rosenheim
          <br>
          ⭐ ⭐ ⭐ ⭐ ⭐
        </h4>
        <p>Der Versicherungscheck hat sich gelohnt. Ich hatte ohne es zu wissen einige doppelte Absicherungen und konnte
          meine Kosten um mehr als 240 Euro im Jahr senken.</p>
      </div>
      <div class="card">
        <amp-img src="{{ 'assets/WechselGott/versicherungen_Sebastian25.png' | relative_url }}"
                 width="64" height="64"
                 layout="intrinsic"
                 alt="versicherungen_Sebastian25">
        </amp-img>
        <h4>Sebastian 25, Koblenz
          <br>
          ⭐ ⭐ ⭐ ⭐ ⭐</h4>
        <p>Wollte mich direkt zum Berufseinstieg gegen die Berufsunfähigkeit absichern. Der Berater hat sich viel Zeit
          für mich genommen und alle meine Fragen verständlich erklärt. Echt empfehlenswert.</p>
      </div>
    </div>

  </section>

  <section class="steps">
    <h2>Wie Du in 3 Schritten ideal und kosteneffizient abgesichert bist</h2>
    <div class="wrap">
      <div>
        <amp-img src="{{ 'assets/WechselGott/Illustration-Laptop.svg' | relative_url }}"
                 width="256" height="256" layout="intrinsic"
                 alt="Illustration-Laptop">
          <div placeholder style="background: transparent"></div>
        </amp-img>
        <amp-img src="{{ 'assets/WechselGott/1.svg' | relative_url }}"
                 width="196" height="196"
                 class="splash" layout="intrinsic"
                 alt="1">
          <div placeholder style="background: transparent"></div>
        </amp-img>

        <h4>Vereinbare direkt online Deinen Wunschtermin</h4>
      </div>
      <div>
        <amp-img src="{{ 'assets/WechselGott/Illustration-Digital-Service.svg' | relative_url }}"
                 width="256" height="256" layout="intrinsic"
                 alt="Illustration-Digital-Service">
          <div placeholder style="background: transparent"></div>
        </amp-img>
        <amp-img src="{{ 'assets/WechselGott/2.svg' | relative_url }}"
                 width="196" height="196"
                 class="splash" layout="intrinsic"
                 alt="2">
          <div placeholder style="background: transparent"></div>
        </amp-img>

        <h4>Lass Dich in einem kurzen Austausch unverbindlich beraten</h4>
      </div>
      <div>
        <amp-img src="{{ 'assets/WechselGott/Illustration-Deckchair.svg' | relative_url }}"
                 width="256" height="256" layout="intrinsic"
                 alt="Illustration-Deckchair">
          <div placeholder style="background: transparent"></div>
        </amp-img>
        <amp-img src="{{ 'assets/WechselGott/3.svg' | relative_url }}"
                 width="196" height="196"
                 class="splash" layout="intrinsic"
                 alt="3">
          <div placeholder style="background: transparent"></div>
        </amp-img>

        <h4>Genieß’ das Gefühl gut abgesichert zu sein.</h4>
      </div>
    </div>
  </section>

  <section class="consulting wrap with-image">
    <div>
      <h3>Individuelle Beratung gepaart mit modernster Technologie</h3>
      <p style="margin-bottom: 32px;">Wann hast Du das letzte Mal Deine Versicherungen überprüft? Es gibt gute Gründe
        dies regelmäßig zu tun. Sobald sich Deine persönliche Situation ändert, ändert sich auch Dein
        Versicherungsbedarf. In einem kurzen, digitalen Austausch checken wir gemeinsam Deinen Bedarf, analysieren
        mittels der vollautomatiserten Vertragsanalyse Deine bestehenden Verträge und optimieren gemeinsam mit Dir Deine
        Policen. Unser Grundsatz lautet „So viel wie nötig, aber so wenig wie möglich.“</p>
    </div>
    <amp-img src="{{ 'assets/WechselGott/Illustration-Stetoscope.svg' | relative_url }}"
             width="343" height="343"
             class="splash" layout="intrinsic"
             alt="Illustration-Stetoscope.svg">
      <div placeholder style="background: transparent"></div>
    </amp-img>
  </section>

  <section class="advatages">
    <h2>Deine Vorteile</h2>
    <div class="wrap">
      <div>
        <amp-img src="{{ 'assets/WechselGott/Icon-Bank.svg' | relative_url }}"
                 width="96" height="96"
                 class="splash" layout="intrinsic"
                 alt="Icon-Bank">
        </amp-img>
        <h4>Unabhängige Beratung nach deutscher Finanznorm</h4>
      </div>
      <div>
        <amp-img src="{{ 'assets/WechselGott/Icon-Checkbox.svg' | relative_url }}"
                 width="96" height="96"
                 class="splash" layout="intrinsic"
                 alt="Icon-Checkbox">
        </amp-img>
        <h4>Nachvollziehbare und verständliche Empfehlungen</h4>
      </div>
      <div>
        <amp-img src="{{ 'assets/WechselGott/Icon-Person.svg' | relative_url }}"
                 width="96" height="96"
                 class="splash" layout="intrinsic"
                 alt="Icon-Person">
        </amp-img>
        <h4>Deine Interessen stehen zu 100% im Fokus</h4>
      </div>
      <div>
        <amp-img src="{{ 'assets/WechselGott/Icon-Piggybank.svg' | relative_url }}"
                 width="96" height="96"
                 class="splash" layout="intrinsic"
                 alt="Icon-Piggybank">
        </amp-img>
        <h4>Spare bis zu mehrere hundert Euro pro Jahr</h4>
      </div>
      <div>
        <amp-img src="{{ 'assets/WechselGott/Icon-Search.svg' | relative_url }}"
                 width="96" height="96"
                 class="splash" layout="intrinsic"
                 alt="Icon-Search">
        </amp-img>
        <h4>Wir identifizieren Deine zu teuren und überflüssigen Policen</h4>
      </div>
      <div>
        <amp-img src="{{ 'assets/WechselGott/Icon-Confetti.svg' | relative_url }}"
                 width="96" height="96"
                 class="splash" layout="intrinsic"
                 alt="Icon-Confetti">
        </amp-img>
        <h4>Immer das beste Produkt für Dich – dank unabhängiger Beratung</h4>
      </div>
      <div>
        <amp-img src="{{ 'assets/WechselGott/Icon-Support.svg' | relative_url }}"
                 width="96" height="96"
                 class="splash" layout="intrinsic"
                 alt="Icon-Support">
        </amp-img>
        <h4>Immer für Dich da bei Rückfragen und Problemen</h4>
      </div>
    </div>
  </section>

  <section class="insurances">
    <div class="wrap with-image mt">
      <amp-img src="{{ 'assets/WechselGott/Rockingchair.svg' | relative_url }}"
               width="173" height="207"
               class="splash" layout="intrinsic"
               alt="Rockingchair">
        <div placeholder style="background: transparent"></div>
      </amp-img>
      <div>
        <h3>Private Rentenversicherung</h3>
        <p>Die gesetzliche Rente wird für die meisten Menschen in Deutschland nicht ausreichen und lässt Altersarmut
          immer weiter voranschreiten. Sichere Dich optimal für das Alter ab. Die Private Rentenversicherung teilt sich
          in ein 3-Schichten-Modell auf, der Basis-Versorgung, der Zusatz-Versorgung und der Kapitalanlageprodukte. Wir
          beraten Dich gerne über alle Deine Möglichkeiten und finden die optimale Absicherung für Dich:</p>
      </div>
      <details class="choices">
        <summary class="heading"><span>Details anzeigen</span></summary>
        <h4>Basisversorgung</h4>
        <p>Hierzu zählen die gesetzliche Rentenversicherung, die Altersvorsorge der berufsständischen Versorgungswerke,
          die Alterssicherung der Landwirte sowie die sog. private Rürup- oder Basis-Rente. Alle Angebote dieser Form
          sichern Dir eine lebenslange Rente in einer gewissen Höhe zu.
        </p>
        <h4>Zusatzversorgung</h4>
        <p>Hierunter fallen die geförderte Zusatzversorgung, die betriebliche Altersvorsorge und die Riester Rente.
          Diese Angebote sind während der Ansparphase steuerbegünstigt. Anders als in der 1. Schicht können Leistungen
          aus der betrieblichen Altersversorgung als Einmalleistung ausgezahlt werden.
        </p>
        <h4>Kapitalanlageprodukte</h4>
        <p>Hierzu zählen alle Vorsorgeverträge, für die es in der Ansparphase keine staatliche Förderung gibt, wie
          Lebens- und Rentenversicherungen, als auch Geldanlagen in Wertpapieren, Investmentfonds, sowie alle weiteren
          Produkte, die zur Altersvorsorge genutzt werden können. Das Sparguthaben kann in der Regel jederzeit entnommen
          werden. Die Vertragsgestaltung ist flexibel.</p>
      </details>
    </div>
    <div class="wrap with-image mt">
      <amp-img src="{{ 'assets/WechselGott/Crutches.svg' | relative_url }}"
               width="173" height="207"
               class="splash" layout="intrinsic"
               alt="Crutches">
        <div placeholder style="background: transparent"></div>
      </amp-img>
      <div>
        <h3>Arbeitskraftabsicherung</h3>
        <p>Eine Krankheit oder Verletzung kann schnell dazu führen, dass Du Deinen Beruf nicht länger ausüben kannst. Du
          kannst Dich in Bezug auf Berufs- und Erwerbsunfähigkeit absichern. Hierzu gibt es unterschiedliche
          Möglichkeiten: </p>
      </div>
      <details class="choices">
        <summary class="heading"><span>Details anzeigen</span></summary>
        <h4>Berufunfähigkeitsversicherung</h4>
        <p>Eine Berufsunfähigkeitsversicherung zahlt Dir eine monatliche Rente, sofern Du Deine zuletzt ausgeübte
          Tätigkeit infolge einer Krankheit, Körperverletzung oder Kräfteverfalls nicht mehr ausüben kannst.</p>
        <h4>Schwere Krankheitenversicherung</h4>
        <p>Eine sogenannte Dread-Disease-Versicherung zahlt Dir eine vereinbarte Summe, sofern bei Dir eine abgesicherte
          Krankheit diagnostiziert wird. Das Geld erhältst Du als Einmalzahlung ausgezahlt.</p>
        <h4>Grundfähigkeitsversicherung</h4>
        <p>Eine Grundfähigkeitsversicherung zahlt dir eine monatliche Rente sofern Deine definierten Grundfähigkeiten
          wie Gehen, Stehen oder Sinne wie Sehen, Sprechen, Hören beeinträchtigt sind.</p>
      </details>
    </div>
    <div class="wrap with-image mt">
      <amp-img src="{{ 'assets/WechselGott/Other-Insurances.svg' | relative_url }}"
               width="173" height="207"
               class="splash" layout="intrinsic"
               alt="Other-Insurances">
        <div placeholder style="background: transparent"></div>
      </amp-img>
      <div>
        <h3>Weitere Versicherungen</h3>
        <p>Wir wissen wie schwierig es ist den Tarifdschungel in puncto Sachversicherungen zu überblicken. Unsere
          geschulten Berater kennen alle Möglichkeiten und Anbieter und stehen Dir gerne mit Rat und Tat zur Seite. So
          findest Du den optimalen und preisgünstigen Schutz für Dich und ggf. Deine Familie.</p>
      </div>
      <details class="choices">
        <summary class="heading"><span>Details anzeigen</span></summary>
        <h4>Rechtschutz</h4>
        <p>Übernimmt Leistungen für die Wahrnehmung Deiner rechtlichen Interessen. Die Rechtsschutzversicherung
          übernimmt in der Regel Anwaltsgebühren, Gerichtskosten etc.</p>
        <h4>Wohngebäudeversicherung</h4>
        <p>Die Wohngebäudeversicherung sichert alles ab, was Du bei einem Umzug nicht mitnehmen kannst, weil es zum
          Gebäude gehört. So bist Du z.B. gegen Brand, Blitzschlag, Sturm, Hagel oder ähnliches abgesichert.</p>
        <h4>Unfallversicherung</h4>
        <p>Eine Unfallversicherung sichert die Folgen eines Unfalls ab. Dadurch werden beispielsweise
          Krankenhaustagegeld, ein Verdienstausfall oder ähnliches kompensiert.</p>
        <h4>Risikolebenversicherung</h4>
        <p>Eine Risikolebensversicherung ist eine Form der Hinterbliebenenvorsorge: Mit ihr sicherst Du Deine Familie,
          eine Immobilienfinanzierung oder andere Kredite für den Fall Deines Todes ab.</p>
        <h4>Haftpflichtversicherung</h4>
        <p>Eine Haftpflichtversicherung übernimmt von Dir verursachte Schäden, die Du einem Anderen schuldhaft zugeführt
          hast.</p>
        <h4>Hausratversicherung</h4>
        <p>Die Hausratversicherung bietet Schutz gegen die Gefahren Feuer, Wasserschäden, Einbruch oder Ähnliches für
          Dein Mobiliar und Einrichtung.</p>
      </details>
    </div>
  </section>

  <section class="promise wrap with-image">
    <div>
      <h3>Unser Versprechen: Individuelle Analyse für Deinen optimalen Schutz</h3>
      <p style="margin-bottom: 32px;">Bei uns gibt es keine Angebote „von der Stange“. Wir analysieren in einem kurzen
        Gespräche Deinen individuellen Bedarf und erstellen Dir ein Angebot zugeschnitten auf Deine individuellen
        Bedürfnisse. Wir beraten Dich fair, unabhängig und transparent und empfehlen Dir ausschließlich Policen, welche
        am besten Deine Anforderungen erfüllen und Dir optimale Konditionen bieten.</p>
    </div>
    <amp-img src="{{ 'assets/WechselGott/Contractcheck.svg' | relative_url }}"
             width="256" height="246"
             class="splash" layout="intrinsic"
             alt="Contractcheck">
      <div placeholder style="background: transparent"></div>
    </amp-img>
  </section>

  <section class="contact wrap with-image">
    <amp-img src="{{ 'assets/WechselGott/Awardwinning.svg' | relative_url }}"
             width="234" height="255"
             class="splash" layout="intrinsic"
             alt="Awardwinning">
      <div placeholder style="background: transparent"></div>
    </amp-img>
    <div>
      <h3>Wie hilft Dir ein digitales Beratungsgespräch mit unseren Experten?</h3>
      <p style="margin-bottom: 32px;">In unserem Check geht es darum Deine Fragen, Anliegen und Wünsche kennenzulernen.
        Dies ist am besten über ein Gespräch möglich. Wir setzen auf eine persönliche Beratung verbunden mit digitaler
        Performance und bieten Dir somit volle Bequemlichkeit. Vereinbare gleich Deinen Terminslot mit einem unserer
        Versicherungsexperten.</p>

      {% assign cta_text = "Termin vereinbaren!" %}
      {% assign cta_href = "https://calendly.com/christina-lutz-1" %}
      {% include cta-button.html %}
    </div>
  </section>


  {{ content }}
</main>
{% include splashes.html %}
